html{color:#000;background:#FFF;} 
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form, 
fieldset,input,textarea,p,blockquote,th,td { 
margin:0; 
padding:0;
color: inherit;
} 
table { 
border-collapse:collapse; 
border-spacing:0; 
} 
fieldset,img { 
border:0; 
} 
address,caption,cite,code,dfn,em,strong,th,var { 
font-style:normal; 
font-weight:normal; 
} 
ol,ul { 
list-style:none; 
} 
caption,th { 
text-align:left; 
} 
h1,h2,h3,h4,h5,h6 { 
font-size:100%; 
font-weight:normal; 
} 
q:before,q:after { 
content:''; 
} 
abbr,acronym { border:0; 
}

.clearfix::before{
	content: "";
	display: table;
}
.clearfix::after{
	display: block;
	clear: both;
	content: "";
	visibility: hidden;
	height: 0;
}
body{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif,'Open Sans','Segoe UI';
	font-size: 14px;
}




#img{
	z-index: -1;
	position: fixed;
	width: 100%;
	height: 100%;
}

h3{
	text-align: center;
	font: 26px "microsoft yahei",Helvetica,Tahoma,Arial,"Microsoft jhengHei",sans-serif;
	color: #FFFFFF;
	padding-top:90px;
	letter-spacing: 1.5px;
}

.loginbox{
	width: 280px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px auto;
	color: #FFF;
}

.loginbox .input_outer{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 46px;
	line-height: 46px;
	margin: 10px 0;
	border-radius: 50px;
	overflow: hidden;
	box-shadow: 0 0 0 2px rgba(255,255,255,0.2) inset;
}

.loginbox .input_outer .icon{
	width: 25px;
	height: 25px;
	margin-right: 8px;
}
.loginbox .input_outer .account{
	background: url(/imgs/login/login_ico.png);
	background-position:  -125px 0;
}
.loginbox .input_outer .passwd{
	background-image: url(/imgs/login/login_ico.png);
	background-position: -125px -34px;
}


.loginbox .input_outer .input{
	width: 220px;
	color: #FFF!important;
	font: 18px "microsoft yahei",Helvetica,Tahoma,Arial,"Microsoft jhengHei";
	line-height: 36px;
	border: none;
	outline: none;
	background: none;
	background-color:transparent !important;
	
}

.loginbox .input_outer .formbtn{
	font-size: 20px;
	width: 280px;
	line-height: 46px;
	text-align: center;
	background: #0096e6;
	border: none;
	border-radius: 50px;
	cursor: pointer;
}
.loginbox .input_outer .formbtn:hover{
	background: #2ba4e4;
}
.loginbox .input_outer .formbtn:active{
	background: #2ba4e4;
	border:none;
}

.loginbox .form-bottom{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.loginbox .form-bottom .savepw{
	display: flex;
	align-items: center;
}
.loginbox .form-bottom .savepw input{
	width: 20px;
	height: 20px;
	margin-right: 5px;
	border: 1px solid #e5e6e7;
	border-radius: 2px;
}
.loginbox .form-bottom a{
	color: #fff;
}
