html{
	padding: 0;
	margin: 0;
	height: 100%;
	background-color:white;
}

body{
	padding: 0;
	margin: 0;
	background:url(/imgs/login/login_bg.jpg) no-repeat fixed top center;
	background-size: cover;
	color:white;
	font-size:20px;
}


h3{
	text-align: center;
	font-weight: bold;
	line-height: 2em;
}

#wrap_login_form,
#wrap_modpw_form{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
}
.index-form{
	width: 70%;
	max-width: 360px;
}
.index-form .input-icon>input{
	background:none !important;
	outline: none !important;
	height: 50px;
	line-height: 30px;
	font-size: 18px;
	color: rgba(255, 255, 255, 1);
	border: 1px solid rgba(255, 255, 255, 1);
	margin: 0;
	padding: 0 0.5em;
	border-radius: 10px !important;
	opacity: 0.7;
}

.index-form .checkbox input+span.text{
	font-size: 20px;
}

.index-form .btn-block{
	height: 50px;
	line-height: 30px;
	font-size: 22px;
	border-radius: 10px !important;
	outline: none;
}

.index-form .input-icon>input:focus{
	opacity: 1;
	background:none !important;
	outline: none !important;
}

.index-form .input-icon>input+i{
	color: rgba(255, 255, 255, 1) !important;
	width: 40px!important;
	height: 40px!important;
	font-size: 24px !important;
	line-height: 40px !important;
	opacity: 0.7;
}

.index-form .input-icon>input+i.fa-lock{  
	font-size: 28px !important;
}

.index-form .input-icon>input:focus+i{
	opacity: 1;
}

hr.wide{
	opacity: 0.4;
}