.row.body-404
    .error-header
    section.error-container.text-center
        h1(style="font-size:80px;") 访问受限
        .error-divider(style="margin-top:2em;")
            p(style="line-height:2em;font-size:2em;")
                |您所拥有的角色没有该模块的访问权限
                br
                |请联系上级机构管理员或超级管理员开通
