.row.body-404
    .error-header
    section.error-container.text-center
        h1(style="font-size:80px;") 访问受限
        .error-divider(style="margin-top:3em;")
            p.description 该功能未激活或授权已过期
        a.return-btn(href='/sub?pg=p01_home' style="margin:40px 10px;")
            i.fa.fa-home 首页
        a.return-btn(href='/sub?pg=p0803_set_licence' style="margin:40px 10px;")
            i.fa.fa-gears Licence