doctype html
html(xmlns="http://www.w3.org/1999/xhtml")
    head
        meta(charset="utf-8")
        title SecSpace
        meta(name="description" content="Secspace移动安全管理平台")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
        //meta(http-equiv="Cache-Control" content="max-age=7200")
        //meta(http-equiv="Expires")
        //meta(http-equiv="last-modified" content="Sun,05 Nov 2017 13:45:57 GMT")
        link(rel="shortcut icon" type="image/x-icon" href="/imgs/16.ico")
        // Basic styles
        link(rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css")
        link#bootstrap-rtl-link(rel="stylesheet" href="")
        link(rel="stylesheet" type="text/css" href="/assets/css/font-awesome.min.css")
        link(rel="stylesheet" type="text/css" href="/assets/css/weather-icons.min.css")
        // Fonts
        link(rel="stylesheet" type="text/css" href="/assets/css/iconfont.css")
        // link(rel="stylesheet" type="text/css" href="/assets/css/fonts.googleapis.css")

        // Beyond styles
        link#beyond-link(rel="stylesheet" type="text/css" href="/assets/css/beyond.min.css")
        link(rel="stylesheet" type="text/css" href="/assets/css/demo.min.css")
        link(rel="stylesheet" type="text/css" href="/assets/css/typicons.min.css")
        link(rel="stylesheet" type="text/css" href="/assets/css/animate.min.css")
        link#skin-link(rel="stylesheet"  type="text/css" href="")
        
        
        
        // Page Related styles        
        link(rel="stylesheet" type="text/css" href="/assets/css/dataTables.bootstrap.css")

        

        // 新增样式
        // 包括图表和表格按钮等样式
        link(rel="stylesheet" type="text/css" href="/assets/css/style.css")
        // 颜色选择器插件样式
        link(rel="stylesheet" type="text/css" href="/assets/css/colpick.css")
        // 地图
        link(rel="stylesheet" type="text/css" href="//cache.amap.com/lbs/static/main1119.css")
        link(rel="stylesheet" type="text/css" href="/assets/css/amap.css")
        
        link(rel="stylesheet" type="text/css" href="/assets/css/paging.css")
        // 日历选择器       
        link(rel="stylesheet" type="text/css" href="/assets/css/jedate.css")
        // 对话框       
        link(rel="stylesheet" type="text/css" href="/assets/css/jquery.dialogbox.css")
        // jsmind       
        link(rel="stylesheet" type="text/css" href="/assets/css/jsmind.css")
        link(rel="stylesheet" type="text/css" href="/style/common.css")
        link(rel="stylesheet" type="text/css" href="/style/layout.css")
        // link(rel="stylesheet" type="text/css" href="/style/patch.css")

        // Skin Script: Place this script in head to load scripts for skins and rtl support
        script(type="text/javascript" src="/assets/js/skins.min.js")
        script(type="text/javascript" src="/assets/js/jquery-2.0.3.js")
        script(type="text/javascript" src="/assets/js/jquery.pjax.js")
        
        style(type='text/css').
            .jqstooltip {
                position: absolute;
                left: 0px;
                top: 0px;
                visibility: hidden;
                background: rgb(0, 0, 0) transparent;
                background-color: rgba(0,0,0,0.6);
                filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
                -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
                color: white;
                font: 10px arial, san serif;
                text-align: left;
                white-space: nowrap;
                padding: 5px;
                border: 1px solid white;
                z-index: 10000;
            }
            .jqsfield {
                color: white;
                font: 10px arial, san serif;
                text-align: left;
            }
    body
        //- .loading-container.loading-inactive
        //-     .loading-progress
        //-         .rotator
        //-         .rotator
        //-             .rotator.colored
        //-             .rotator
        //-                 .rotator.colored
        //-                 .rotator.colored                    
        //-                 .rotator                         
        //-                 .rotator.colored               
        //-             .rotator                  
        //-             .rotator            
        //-         .rotator            
        //-         .rotator
        nav.navbar(class="navbar-fixed-top")
            .navbar-inner
                .navbar-container
                    .navbar-header.pull-left(style="width:177px;")
                        a.navbar-brand(href='#')
                            small
                                img.logo(src='/imgs/logo.png' alt='logo')
                    .sidebar-collapse(id="sidebar-collapse")
                        i(class="collapse-icon fa fa-bars")
                    .product_name
                        a.navbar-brand(href="#")
                    .navbar-header(class="pull-right")
                        .navbar-account
                            ul(class="account-area")
                                li.orgBox(style="width:600px;")
                                    a(id="btnJmSwitch" class="pull-right login-area dropdown-toggle" data-toggle="dropdown")
                                        p(style="color:#fff;line-height:30px;font-size:14px;") 当前机构-
                                            span.orgBtn
                                    ul(class="pull-left dropdown-menu dropdown-arrow dropdown-login-area")
                                        li(class="theme-area" onclick="event.stopPropagation();")
                                            #om_switch_title
                                                span 切换机构
                                            #om_switch(style="height:300px;overflow:auto;")
                                                
                                li(style="min-width:180px;")
                                    a(class="login-area dropdown-toggle" data-toggle="dropdown" title="点击查看账户信息" style="min-width:180px;")
                                        .avatar
                                            img.avatar(src="/imgs/admin.png" alt="")
                                        section
                                            h2
                                                span(class="profile")
                                                    span.managerName
                                    ul(class="pull-right dropdown-menu dropdown-arrow dropdown-login-area")
                                        //- li(class="manager")
                                        //-     a
                                        //- li(class="email")
                                        //-     a
                                        li
                                            .avatar-area
                                                img.avatar(src="/imgs/admin.png" alt="")
                                        li(class="edit" style="text-align:center;")
                                            button.btn.btn-defalut.btn-sm.pull-left(onclick="accountInfo()") 账户信息
                                            button.btn.btn-defalut.btn-sm.pull-right(onclick="updatePW()") 修改密码
                                        li(class="theme-area")
                                            ul(class="colorpicker" id="skin-changer")
                                                li
                                                    a(class="colorpick-btn" href="#" style="background-color:#2dc3e8;" rel="/assets/css/skins/blue.min.css")
                                                li
                                                    a(class="colorpick-btn" href="#" style="background-color:#28b779;" rel="/assets/css/skins/palegreen.min.css")
                                                li
                                                    a(class="colorpick-btn" href="#" style="background-color:#008080;" rel="/assets/css/skins/seagreen.min.css")
                                                li
                                                    a(class="colorpick-btn" href="#" style="background-color:#03B3B2;" rel="/assets/css/skins/teal.min.css")
                                                li
                                                    a(class="colorpick-btn" href="#" style="background-color:#53a93f;" rel="/assets/css/skins/green.min.css")
                                                li
                                                    a(class="colorpick-btn" href="#" style="background-color:#db7093;" rel="/assets/css/skins/pink.min.css")
                                                li
                                                    a(class="colorpick-btn" href="#" style="background-color:#AC193D;" rel="/assets/css/skins/darkred.min.css")
                                                li
                                                    a(class="colorpick-btn" href="#" style="background-color:#8C0095;" rel="/assets/css/skins/purple.min.css")
                                                li
                                                    a(class="colorpick-btn" href="#" style="background-color:#0072C6;" rel="/assets/css/skins/darkblue.min.css")
                                                li
                                                    a(class="colorpick-btn" href="#" style="background-color:#585858;" rel="/assets/css/skins/gray.min.css")
                                                li
                                                    a(class="colorpick-btn" href="#" style="background-color:#474544;" rel="/assets/css/skins/black.min.css")
                                                li
                                                    a(class="colorpick-btn" href="#" style="background-color:#001940;" rel="/assets/css/skins/deepblue.min.css")
                                        li(class="dropdown-footer")
                                            //a(href="/logout") 退出
                            .setting
                                a(id="btn-logout" title="退出" href="/logout")
                                    i(class="icon glyphicon glyphicon-log-out")

        .main-container(class="container-fluid")
            .page-container
                .page-sidebar(class="sidebar-fixed" id="sidebar")
                    .sidebar-header-wrapper(style="display:none;")
                        input(type="text" class="searchinput")
                        i(class="searchicon fa fa-search")
                        .searchhelper Search Reports, Charts, Emails or Notifications
                    ul(class="nav sidebar-menu")
                        li(class="firstmenu")
                            a(data-pjax href="/sub?pg=p01_home")
                                i(class="menu-icon glyphicon glyphicon-home")
                                span(class="menu-text") 首页
                        li(class="usermenu")
                            a(class="menu-dropdown")
                                i(class="menu-icon fa fa-user")
                                span(class="menu-text") 用户
                                i(class="menu-expand")
                            ul(class="submenu")
                                li
                                    a(data-pjax href="/sub?pg=p0201_user_manage")
                                        span(class="menu-text") 用户管理
                                li
                                    a(data-pjax href="/sub?pg=p0202_user_group")
                                        span(class="menu-text") 用户组
                                li
                                    a(data-pjax href="/sub?pg=p0203_user_tag")
                                        span(class="menu-text") 用户标签
                        li
                            a(class="menu-dropdown")
                                i(class="menu-icon fa fa-desktop")
                                span(class="menu-text") 设备
                                i(class="menu-expand")
                            ul(class="submenu")
                                li
                                    a(data-pjax href="/sub?pg=p0301_dev_manage")
                                        span(class="menu-text") 设备管理
                        li(class="policymenu")
                            a(class="menu-dropdown")
                                i(class="menu-icon fa fa-lightbulb-o")
                                span(class="menu-text") 策略
                                i(class="menu-expand")
                            ul(class="submenu")
                                li
                                    a(data-pjax href="/sub?pg=p0401_pcy_device")
                                        span(class="menu-text") 设备策略
                                li
                                    a(data-pjax href="/sub?pg=p0402_pcy_compliance")
                                        span(class="menu-text") 合规策略
                                li
                                    a(data-pjax href="/sub?pg=p0403_pcy_rail")
                                        span(class="menu-text") 围栏策略
                                li
                                    a(data-pjax href="/sub?pg=p0404_pcy_app")
                                        span(class="menu-text") 应用策略
                                li
                                    a(data-pjax href="/sub?pg=p0405_pcy_client")
                                        span(class="menu-text") 客户端策略
                        li
                            a(class="menu-dropdown")
                                i(class="menu-icon glyphicon glyphicon-file")
                                span(class="menu-text") 文件
                                i(class="menu-expand")
                            ul(class="submenu")
                                li
                                    a(data-pjax href="/sub?pg=p0501_file_manage")
                                        span(class='menu-text') 文件管理
                        li
                            a(class="menu-dropdown")
                                i(class="menu-icon fa fa-th-large")
                                span(class="menu-text") 应用
                                i(class="menu-expand")
                            ul(class="submenu")
                                li
                                    a(data-pjax href="/sub?pg=p0601_app_store")                                    
                                        span(class="menu-text") 应用商店
                                li
                                    a(data-pjax href="/sub?pg=p0602_app_blackwhitelist")                                                                        
                                        span(class="menu-text") 黑白名单
                                li
                                    a(data-pjax href="/sub?pg=p0603_app_tag")
                                        span(class="menu-text") 应用标签
                        li(class="logmenu")
                            a(class="menu-dropdown")
                                i(class="menu-icon fa fa-file-text-o")
                                span(class="menu-text") 日志
                                i(class="menu-expand")
                            ul(class="submenu")
                                li
                                    a(data-pjax href="/sub?pg=p0701_log_client")
                                        span(class="menu-text") 客户端日志
                                li
                                    a(data-pjax href="/sub?pg=p0702_log_app")
                                        span(class="menu-text") 应用日志
                                li
                                    a(data-pjax href="/sub?pg=p0703_log_usermanage")
                                        span(class="menu-text") 用户管理日志
                                li
                                    a(data-pjax href="/sub?pg=p0704_log_devmanage")
                                        span(class="menu-text") 设备管理日志
                                li
                                    a(data-pjax href="/sub?pg=p0705_log_filemanage")
                                        span(class="menu-text") 文件管理日志
                                li
                                    a(data-pjax href="/sub?pg=p0706_log_appmanage")
                                        span(class="menu-text") 应用管理日志
                                li
                                    a(data-pjax href="/sub?pg=p0707_log_pcymanage")
                                        span(class="menu-text") 策略管理日志
                                li
                                    a(data-pjax href="/sub?pg=p0708_log_admin")
                                        span(class="menu-text") 管理员日志
                                li
                                    a(data-pjax href="/sub?pg=p0709_log_violation")
                                        span(class="menu-text") 违规情况日志
                                li
                                    a(data-pjax href="/sub?pg=p0710_log_org")
                                        span(class="menu-text") 机构管理日志
                                li
                                    a(data-pjax href="/sub?pg=p0711_log_senWord")
                                        span(class="menu-text") 敏感词日志
                                li
                                    a(data-pjax href="/sub?pg=p0712_log_url")
                                        span(class="menu-text") 上网行为日志
                                //- li
                                //-     a(data-pjax href="/sub?pg=p0711_log_role")
                                //-         span(class="menu-text") 角色管理日志
                        li
                            a(class="menu-dropdown")
                                i(class="menu-icon fa fa-sitemap")
                                span(class="menu-text") 机构
                                i(class="menu-expand")
                            ul(class="submenu")
                                li  
                                    a(data-pjax href="/sub?pg=p0801_org")
                                        span(class="menu-text") 机构树
                                li
                                    a(data-pjax href="/sub?pg=p0802_admin")
                                        span(class="menu-text") 管理员
                .page-content(id="rightpart")
                    // 页面标题
                    .page-header.position-relative.page-header-fixed
                        .header-title
                            ul.breadcrumb
                        // Header Buttons
                        .header-buttons
                            a.sidebar-toggler(href='#')
                                i.fa.fa-arrows-h
                            a#refresh-toggler.refresh(href='')
                                i.glyphicon.glyphicon-refresh
                            a#fullscreen-toggler.fullscreen(href='#')
                                i.glyphicon.glyphicon-fullscreen
                            
                        // Header Buttons End
                    // /页面标题
                    #pjax-aim.page-body
                        block content

        // Basic scripts
        script(type="text/javascript" src="/assets/js/bootstrap.min.js")

        // Beyond scripts
        script(type="text/javascript" src="/assets/js/beyond.min.js")
        script(type="text/javascript" src="/assets/js/bootbox.js")

        // BreadCrumb script  （返回oBreadCrumb对象）
        // script(src="/assets/js/jquerysession.js")
        // script(src="/assets/js/breadcrumb.js")

        // Datatables scripts
        script(type="text/javascript" src="/assets/js/jquery.cookie.js")
        script(type="text/javascript" src="/assets/js/jquery.form.js")
        script(type="text/javascript" src="/assets/js/jquery.jedate.js")
        script(type="text/javascript" src="/assets/js/base64.js")
        script(type="text/javascript" src="/assets/js/jquery.dialogBox.js")
        script(type="text/javascript" src="/assets/js/toastr/toastr.js")
        //- script(type="text/javascript" src="/assets/js/paging.js")
        script(type="text/javascript" src="/assets/js/validation/bootstrapValidator.js")
        script(type="text/javascript" src="/assets/js/jsmind.js")
        script(type="text/javascript" src="/scripts/orgmind.js")
        script(type="text/javascript" src="/scripts/common.js")
        script(type="text/javascript" src="/scripts/jquery.group-fns.js")
        script(type="text/javascript" src="/scripts/jquery.group-modules.js")
        script(type="text/javascript" src="/scripts/layout.js")
        script(type="text/javascript" src="/scripts/layout_new.js")
        