doctype html
html(xmlns="http://www.w3.org/1999/xhtml")
    head
        meta(charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0")
        title 登录页
        link(rel="shortcut icon" href="/imgs/16.ico" type="image/x-icon")
        link(rel="stylesheet" type="text/css" href="/assets/css/font-awesome.min.css")
        link(rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css")
        link(rel="stylesheet" type="text/css" href="/assets/css/beyond.min.css")
        link(href="/style/login.css" rel="stylesheet")
    body
        //- .loginbox
        //-     form(action="/login" type="POST")
        //-         .input_outer
        //-             span.icon.account
        //-             input(type="text" name="account" class="input" placeholder="请输入账号" autocomplete="off")
        //-         .input_outer
        //-             span.icon.passwd
        //-             input(type="password" name="passwd" class="input" placeholder="请输入密码" autocomplete="off")
        //-         .input_outer
        //-             input(type="submit" class="formbtn" value="登录")                    
        //-         .form-bottom
        //-             .savepw
        //-                 input(type="checkbox")
        //-                 span 记住账号
        //-             a(href="#") 忘记密码?
        
        h3.product-name
        form#login-form(role='form' action="/login" type="POST")
            .mb2
                input(type="hidden" name="dev_ip" )
            .form-group
                span.input-icon.icon-right
                    input.form-control(type='text' name="account" value="" placeholder='请输入账号' autocomplete="off")
                    i.glyphicon.glyphicon-user.circular
            .form-group
                span.input-icon.icon-right
                    input.form-control(type='password' name="passwd"  value="" placeholder='请输入密码' autocomplete="off")
                    i.fa.fa-lock.circular                                          
            button.btn.btn-primary.btn-block(type='submit') 登 录
            hr.wide                                                        
            .form-group
                .col-sm-offset-1
                    .checkbox
                        label
                            input.savepw(type='checkbox')
                            span.text 记住密码

        script(src="/assets/js/jquery-2.0.3.min.js")
        script(src="/assets/js/jquery.form.min.js")
        script(src="/assets/js/jquery.cookie.js")
        script(src="/assets/js/base64.js")
        //获取网络ip
        script(type="text/javascript" src="//pv.sohu.com/cityjson")  
        script(src="/scripts/login.js")
