doctype html
html
    head
        meta(charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0")
        title 登录页
        link(rel="shortcut icon" href="/imgs/favicon.png" type="image/x-icon")
        link(href="/assets/css/bootstrap.min.css" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300" rel="stylesheet" type="text/css")
        link(id="beyond-link" href="/assets/css/beyond.min.css" rel="stylesheet")
        link(href="/assets/css/demo.min.css" rel="stylesheet")
        link(href="/assets/css/animate.min.css" rel="stylesheet")
        link(id="skin-link" href="" rel="stylesheet" type="text/css")
        script(src="/assets/js/skins.min.js")
    body
        .login-container(class="animated fadeInDown")
            .loginbox(class="bg-white")
                .loginbox-social
                    .sign(style="height: 60px;line-height: 50px;font-size: 16px;text-align: left;padding-left: 20px;color: #999;")
                        //-a.active(href="javascript:getAction('man');") 企业版
                        //-label &nbsp;|&nbsp;
                        //-a(href="javascript:getAction('per');") 个人版
                    .err(style="color:red;text-align:center;")
                .loginbox-title(style="height:45px;padding-top:0px;color:#666;letter-spacing:2px;") 管理员登陆 
                .loginbox-or
                    .or-line
                    .or sign in
                form(action="/login")
                    .loginbox-textbox
                        input(type="text" name="account" class="form-control" placeholder="帐号")
                    .loginbox-textbox
                        input(type="password" name="passwd" id="pass" class="form-control" placeholder="密码")
                    .loginbox-forgot
                        a(href="javascript:updatepwd();" style="text-decoration:none;") 忘记密码?
                    .loginbox-submit
                        input(type="submit" class="btn btn-primary btn-block" value="登录")
                    .loginbox-signup(style="display:none;")
                        a(href="javascript:register();" style="text-decoration:none;") 没有账号？立即注册！
                    input(type="text", name="flag", value="man", style="display:none;")
                .forgetpwd(style="display:none;")
                    .loginbox-textbox
                        input(type="text" name="email" class="form-control" placeholder="帐号")
                    .loginbox-submit
                        input(type="button" class="btn btn-primary btn-block" value="验证码找回" onclick="checkpwd()")
                .findpwd(style="display:none;")
                    .loginbox-textbox
                        input(type="text" name="email" class="form-control" readonly="readonly")
                    .loginbox-textbox
                        input(type="text" name="captcha" class="form-control" placeholder="请输入验证码")
                    .loginbox-submit
                        input(type="button" class="btn btn-primary btn-block" value="验证码" onclick="checkpaswd()")
                .updatepwd(style="display:none;")
                    .loginbox-textbox
                        input(type="text" name="email" class="form-control" readonly="readonly")
                    .loginbox-textbox
                        input(type="password" name="password" class="form-control" placeholder="密码")
                    .loginbox-textbox
                        input(type="password" name="confirm" class="form-control" placeholder="确认密码")
                    .loginbox-submit
                        input(type="button" class="btn btn-primary btn-block" value="确认" onclick="newPassword()")
                .register(style="display:none;")
                    .loginbox-textbox
                        input(type="text" name="account" class="form-control" placeholder="邮箱/电话")
                    .loginbox-submit
                        input(type="button" class="btn btn-primary btn-block" value="获取验证码" onclick="registercapt()")
                .registernew(style="display:none;")
                    .loginbox-textbox(style="display:none;")
                        input(type="text" name="email" class="form-control" readonly="readonly")
                    .loginbox-textbox
                        input(type="password" name="password" class="form-control" placeholder="密码")
                    .loginbox-textbox
                        input(type="password" name="confirm" class="form-control" placeholder="确认密码")
                    .loginbox-textbox
                        input(type="text" name="captcha" class="form-control" placeholder="请输入验证码" value="")
                    .loginbox-submit
                        input(type="button" class="btn btn-primary btn-block" value="确认" onclick="userregister()")
        script(src="/scripts/jquery.min.js")
        script(src="/assets/js/bootstrap.min.js")
        script(src="/scripts/jquery.form.min.js")
        script(src="/scripts/jquery.cookie.js")
        script(src="/scripts/login.js")