extends ../layout

block content
    .page-header(class="position-relative")
        .header-title(style="width:180px;")
            h1
                用户
                small
                    i(class="fa fa-angle-right")
                    a(href="javascript:userlist()") 用户管理
                    i(class="fa fa-angle-right apph" style="display:none;") 授权应用
    .page-body
        .row
            .userlist(class="col-xs-12 col-md-12")
                .widget
                    .widget-btn
                        a(class="btn btn-primary" href="javascript:add()") 
                            i(class="fa fa-plus")
                            添加
                        a(class="btn btn-primary" href="javascript:refresh()")
                            i(class="fa fa-undo")
                            刷新
                        a(class="btn btn-danger" href="javascript:deletes()")
                            i(class="fa fa-times")
                            删除
                        //-a(class="btn btn-primary" href="javascript:window.history.back()")
                            i(class="fa fa-times")
                            返回
                    .search(class="col-lg-12 col-sm-12 col-xs-12" style="padding:0")
                        .widget(class="collapsed" style="margin-bottom:10px;")
                            .widget-header(style="box-shadow:none;padding-left:0;margin-bottom:10px;")
                                span(class="widget-caption")
                                    .input-group
                                        span(class="input-icon")
                                            input(type="text" class="form-control input-sm")
                                            i(class="glyphicon glyphicon-search primary")
                                .widget-buttons
                                    a(href="#" data-toggle="collapse") 高级搜索
                            .widget-body(style="box-shadow:none;padding:0;")
                                .form-group(class="col-lg-4 col-sm-4 col-xs-4" style="padding-left:0px;")
                                    .input-group
                                        span(class="input-group-addon")
                                            i(class="fa fa-user darkorange")
                                        input(class="form-control" placeholder="用户名")
                                .form-group(class="col-lg-4 col-sm-4 col-xs-4 has-error has-feedback")
                                    .input-group
                                        span(class="input-group-addon bg-blue bordered-blue")
                                            i(class="fa fa-envelope-o")
                                        input(type="email" class="form-control" id="inputEmail" placeholder="Email Address")
                                .form-group(class="col-lg-4 col-sm-4 col-xs-4")
                                    label(style="line-height:34px;margin-right:10px;") 性别
                                    label(style="margin-right:10px;")
                                        input(name="form-filed-radio" checked="true" type="radio")
                                        span(class="text") 男
                                    label
                                        input(name="form-filed-radio" type="radio")
                                        span(class="text") 女
                                .form-group(class="col-lg-4 col-sm-4 col-xs-4" style="padding-left:0px;")
                                    .input-group
                                        span(class="input-group-addon bg-blue bordered-blue")
                                            i(class="fa fa-code-fork")
                                        select(class="form-control selectpicker")
                                            option(value="1") bumen1
                                            option(value="0") bumen12
                                .form-group(class="col-lg-4 col-sm-4 col-xs-4")
                                    .input-group
                                        span(class="input-group-addon bg-blue bordered-blue")
                                            i(class="fa fa-fax")
                                        input(class="form-control" placeholder="电话")
                                .searchinfo(class="col-lg-8 col-sm-8 col-xs-8 col-lg-offset-4 col-sm-offset-4 col-xs-offset-4" style="margin-bottom:20px;margin-top:6px;")
                                    a(class="btn btn-primary" href="javascript:secrhinfo()") 搜索账号
                    .usertable(class="widget-body" style="box-shadow:none;padding:0;")
                    .page1
        .row
            .tab(class="col-lg-12 col-sm-12 col-xs-12" style="display:none;")
                .widget-main
                    .tabbable
                        input(name="email" style="display:none;")
                        ul(class="nav nav-tabs tabs-flat" id="myTab11")
                            li(class="active")
                                a(data-toggle="tab" href="#authapp1") 已授权
                            li
                                a(data-toggle="tab" href="#unauthapp1") 未授权
                        div(class="tab-content tabs-flat")
                            div(id="authapp1" class="tab-pane in active")
                                .apptable(style="box-shadow:none;padding:0;")
                                .page2 
                            div(id="unauthapp1" class="tab-pane")
                                .apptable(style="box-shadow:none;padding:0;")
                                .page3                                                      
        .bootbox(class="modal fade bootbox-confirm in modal-primary" tabindex="-1" role="dialog" style="display:none;" aria-hidden="false")
            .modal-dialog(style="width:500px;")
                .modal-content
        .background     
    script(async="true" src="/scripts/jquery.min.js")
    script(async="true" src="/scripts/man_user.js")