extends ../layout

block content
    .page-header(class="position-relative")
        .header-title(style="width:180px;")
            h1
                用户
                small
                    i(class="fa fa-angle-right")
                    a(href="javascript:userlist()") 用户管理
                    i(class="fa fa-angle-right apph" style="display:none;") 授权应用
                    i(class="fa fa-angle-right addusertitle" style="display:none;") 添加用户
                    i(class="fa fa-angle-right modifytitle" style="display:none;") 修改用户
                    i(class="fa fa-angle-right viewtitle" style="display:none;") 用户信息
    .page-body
        .row
            .userlist(class="col-xs-12 col-md-12")
                .widget
                    .widget-btn
                        a(class="btn btn-primary" href="javascript:add()") 
                            i(class="fa fa-plus")
                            添加
                        a(class="btn btn-primary" href="javascript:invent()") 
                            i(class="fa fa-magic")
                            激活
                        //-a(class="btn btn-primary" href="javascript:refresh()")
                            i(class="fa fa-undo")
                            刷新
                        //-a(class="btn btn-danger" href="javascript:deletes()")
                            i(class="fa fa-times")
                            删除
                        a(class="hrefactive" href="javascript:refresh()")
                            i(class="fa fa-th" style="font-size:20px;")
                            p(style="font-size:10px;margin:0;") 刷新
                        a(class="hrefactive" href="javascript:keys()")
                            i(class="fa fa-lightbulb-o" style="font-size:20px;")
                            p(style="font-size:10px;margin:0;") 下发策略
                        a(class="hrefactive" href="javascript:keys()")
                            i(class="fa fa-file-text-o" style="font-size:20px;")
                            p(style="font-size:10px;margin:0;") 下发内容
                        a(class="hrefactive" href="javascript:keys()")
                            i(class="fa fa-key" style="font-size:20px;")
                            p(style="font-size:10px;margin:0;") 重置密码
                        a(class="hrefactive" href="javascript:keys()")
                            i(class="fa fa-arrows" style="font-size:20px;")
                            p(style="font-size:10px;margin:0;") 移动至组
                        a(class="hrefactive" href="javascript:keys()")
                            i(class="fa fa-plus-square" style="font-size:20px;")
                            p(style="font-size:10px;margin:0;") 添加标签
                        a(class="hrefactive" href="javascript:keys()")
                            i(class="fa fa-list-ul" style="font-size:20px;")
                            p(style="font-size:10px;margin:0;") 删除
                        .input-group(class="input-group-sm")
                            input(class="form-control" type="text" style="float:right;max-width:200px;")
                            span(class="input-group-btn")
                                button(class="btn btn-default btn-primary" type="button")
                                    i(class="glyphicon glyphicon-search")
                        //-a(class="btn btn-primary" href="javascript:window.history.back()")
                            i(class="fa fa-times")
                            返回
                    .search(class="col-lg-12 col-sm-12 col-xs-12" style="padding:0;display:none;")
                        .widget(class="collapsed" style="margin-bottom:10px;")
                            .widget-header(style="box-shadow:none;padding-left:0;margin-bottom:10px;")
                                span(class="widget-caption")
                                    .input-group(class="input-group-sm")
                                        span(class="input-icon")
                                            input(type="text" class="form-control")
                                            i(class="glyphicon glyphicon-search primary")
                                .widget-buttons
                                    a(href="#" data-toggle="collapse") 高级搜索
                            .widget-body(style="box-shadow:none;padding:0;")
                                .form-group(class="col-lg-4 col-sm-4 col-xs-4" style="padding-left:0px;")
                                    .input-group
                                        span(class="input-group-addon")
                                            i(class="fa fa-user darkorange")
                                        input(class="form-control" placeholder="用户名")
                                .form-group(class="col-lg-4 col-sm-4 col-xs-4 has-error has-feedback")
                                    .input-group
                                        span(class="input-group-addon bg-blue bordered-blue")
                                            i(class="fa fa-envelope-o")
                                        input(type="email" class="form-control" id="inputEmail" placeholder="Email Address")
                                .form-group(class="col-lg-4 col-sm-4 col-xs-4")
                                    label(style="line-height:34px;margin-right:10px;") 性别
                                    label(style="margin-right:10px;")
                                        input(name="form-filed-radio" checked="true" type="radio")
                                        span(class="text") 男
                                    label
                                        input(name="form-filed-radio" type="radio")
                                        span(class="text") 女
                                .form-group(class="col-lg-4 col-sm-4 col-xs-4" style="padding-left:0px;")
                                    .input-group
                                        span(class="input-group-addon bg-blue bordered-blue")
                                            i(class="fa fa-code-fork")
                                        select(class="form-control selectpicker")
                                            option(value="1") bumen1
                                            option(value="0") bumen12
                                .form-group(class="col-lg-4 col-sm-4 col-xs-4")
                                    .input-group
                                        span(class="input-group-addon bg-blue bordered-blue")
                                            i(class="fa fa-fax")
                                        input(class="form-control" placeholder="电话")
                                .searchinfo(class="col-lg-8 col-sm-8 col-xs-8 col-lg-offset-4 col-sm-offset-4 col-xs-offset-4" style="margin-bottom:20px;margin-top:6px;")
                                    a(class="btn btn-primary" href="javascript:secrhinfo()") 搜索账号
                    .usertable(class="widget-body" style="box-shadow:none;padding:0;")
                    .page1
        .row
            .tab(class="col-lg-12 col-sm-12 col-xs-12" style="display:none;")
                .widget-main
                    .tabbable
                        input(name="email" style="display:none;")
                        ul(class="nav nav-tabs tabs-flat" id="myTab11")
                            li(class="active")
                                a(data-toggle="tab" href="#authapp1") 已授权
                            li
                                a(data-toggle="tab" href="#unauthapp1") 未授权
                        div(class="tab-content tabs-flat")
                            div(id="authapp1" class="tab-pane in active")
                                .apptable(style="box-shadow:none;padding:0;")
                                .page2 
                            div(id="unauthapp1" class="tab-pane")
                                .apptable(style="box-shadow:none;padding:0;")
                                .page3
        .row
            .user_add(class="col-xs-12 col-md-12 setting" style="display:none;")
                .widget(style="height: 680px;border: 1px solid #ccc;border-radius: 3px 3px 3px 3px;")
                    .widget-header(style="height:40px;")
                        p(style="line-height: 40px;text-align: left;font-size: 16px;font-weight: bold;color: #444;") 基本信息
                    .widget-body(style="height:240px;")
                        .row(class="col-xs-12 col-md-12" style="margin-bottom:0px;")
                            .form-group
                                div(class="col-lg-6 col-xs-6 col-sm-6 col-lg-offset-3 col-xs-offset-3 col-sm-offset-3")
                                    label(class="control-label" for = "username" style="width:110px;")
                                        i(class="icon glyphicon glyphicon-asterisk" style="color:red; font-size:12px;margin-right:10px;")
                                        label 姓名
                                    div(style="position: absolute;top: 0px;left: 110px;right: 0px;")
                                        input(type="text" class="form-control" id = "username" name="username")
                        .row(class="col-xs-12 col-md-12" style="margin-bottom:0px;")
                            .form-group
                                div(class="col-lg-6 col-xs-6 col-sm-6 col-lg-offset-3 col-xs-offset-3 col-sm-offset-3")
                                    label(class="control-label" for = "email" style="width:110px;")
                                        i(class="icon glyphicon glyphicon-asterisk" style="color:red; font-size:12px;margin-right:10px;")
                                        label 邮箱
                                    div(style="position: absolute;top: 0px;left: 110px;right: 0px;")
                                        input(type="text" class="form-control" id = "email" name="email")
                        .row(class="col-xs-12 col-md-12" style="margin-bottom:0px;")
                            .form-group
                                div(class="col-lg-6 col-xs-6 col-sm-6 col-lg-offset-3 col-xs-offset-3 col-sm-offset-3")
                                    label(class="control-label" for = "phone" style="width:110px; padding-left:22px;") 手机号码
                                    div(style="position: absolute;top: 0px;left: 110px;right: 0px;")
                                        input(type="text" class="form-control" id = "phone" name="phone")
                        .row(class="col-xs-12 col-md-12" class="devicesys")
                            .form-group
                                div(class="col-lg-6 col-xs-6 col-sm-6 col-lg-offset-3 col-xs-offset-3 col-sm-offset-3")
                                    label(class="control-label" for = "usergroup" style="width:110px;")
                                        i(class="icon glyphicon glyphicon-asterisk" style="color:red; font-size:12px;margin-right:10px;")
                                        label 所属组
                                    div(style="position: absolute;top: 0px;left: 110px;right: 0px;")
                                        select(class="form-control" name="usergroup" id="usergroup")
                                            option(value="0") 请选择
                                            option(value="1") 禁止使用移动安全办公
                                            option(value="0") 请选择
                                            option(value="1") 禁止使用移动安全办公
                    .widget-header(style="height:40px;border-top:1px solid #ccc;")
                        p(style="line-height: 40px;text-align: left;font-size: 16px;font-weight: bold;color: #444;") 基本信息
                    .widget-body(style="height:170px;")
                        .row(class="col-xs-12 col-md-12" style="margin-bottom:0px;")
                            .form-group
                                div(class="col-lg-6 col-xs-6 col-sm-6 col-lg-offset-3 col-xs-offset-3 col-sm-offset-3")
                                    label(class="control-label" for = "account" style="width:110px;")
                                        i(class="icon glyphicon glyphicon-asterisk" style="color:red; font-size:12px;margin-right:10px;")
                                        label 账号
                                    div(style="position: absolute;top: 0px;left: 110px;right: 0px;")
                                        input(type="text" class="form-control" id = "account" name="account")
                            .form-group
                                div(class="col-lg-6 col-xs-6 col-sm-6 col-lg-offset-3 col-xs-offset-3 col-sm-offset-3")
                                    label(class="control-label" for = "activation_pwd" style="width:110px;")
                                        i(class="icon glyphicon glyphicon-asterisk" style="color:red; font-size:12px;margin-right:10px;")
                                        label 激活密码
                                    div(style="position: absolute;top: 0px;left: 110px;right: 0px;")
                                        input(type="text" class="form-control" id = "activation_pwd" name="activation_pwd")
                                div(class="col-lg-2 col-xs-3 col-sm-3")
                                    a(class="btn btn-primary" href="javascript:activationpwd()") 随机生成
                            .form-group
                                div(class="col-lg-6 col-xs-6 col-sm-6 col-lg-offset-3 col-xs-offset-3 col-sm-offset-3")
                                    label(class="control-label" for = "valid_time" style="width:110px;")
                                        i(class="icon glyphicon glyphicon-asterisk" style="color:red; font-size:12px;margin-right:10px;")
                                        label 有效期
                                    div(style="position: absolute;top: 0px;left: 110px;right: 0px;")
                                        input(type="text" class="form-control" id = "valid_time" name="valid_time")
                                label(class="col-lg-2 col-xs-3 col-sm-3") 请输入1-30的整数
                    .widget-header(style="height:40px;border-top:1px solid #ccc;")
                        p(style="line-height: 40px;text-align: left;font-size: 16px;font-weight: bold;color: #444;") 基本信息
                    .widget-body(style="height:130px;")
                        .row(class="col-xs-12 col-md-12" style="margin-bottom:0px;")
                            .form-group
                                div(class="col-lg-6 col-xs-6 col-sm-6 col-lg-offset-3 col-xs-offset-3 col-sm-offset-3")
                                    label(class="control-label" for = "tag" style="width:110px;")
                                        i(class="icon glyphicon glyphicon-asterisk" style="color:red; font-size:12px;margin-right:10px;")
                                        label 标签
                                    div(style="position: absolute;top: 0px;left: 110px;right: 0px;")
                                        select(class="form-control" name="tag" id="tag")
                                            option(value="0") 请选择
                                            option(value="1") 禁止使用移动安全办公
                                            option(value="0") 请选择
                                            option(value="1") 禁止使用移动安全办公
                        .row(class="col-xs-12 col-md-12")
                            .form-group
                                div(class="col-lg-9 col-xs-10 col-sm-10 col-lg-offset-3 col-xs-offset-2 col-sm-offset-2")
                                    .widget-btn(class="col-lg-12 col-xs-12 col-sm-12" style="padding-top:10px;")
                                        a(class="btn" href="javascript:cancel()") 取消
                                        a(class="btn btn-primary" href="javascript:compliancesave()") 保存
                                        a(class="btn btn-primary" href="javascript:compliancesave()" style="width:auto;") 保存并发送激活邮件
                                        a(class="btn btn-primary" href="javascript:compliancesave()" style="width:auto;") 保存并发送激活短信                                          
        .bootbox(class="modal fade bootbox-confirm in modal-primary" tabindex="-1" role="dialog" style="display:none;" aria-hidden="false")
            .modal-dialog(style="width:500px;")
                .modal-content
        .background     
    script(async="true" src="/scripts/jquery.min.js")
    script(async="true" src="/scripts/man_user.js")