extends ../layout

block content
    .page-header(class="position-relative")
        .header-title(style="width:180px;")
            h1
                应用
                small
                    i(class="fa fa-angle-right")
                    a(href="javascript:appslist()") 应用管理
                    i(class="fa fa-angle-right appissued" style="display:none;") 应用授权
                    i(class="fa fa-angle-right appissued1" style="display:none;") 取消授权
    .page-body
        .row
            .appslist(class="col-xs-12 col-md-12")
                .widget
                    .widget-btn
                        a(class="btn btn-primary" href="javascript:add()")
                            i(class="fa fa-plus")
                            添加
                        a(class="btn btn-primary" href="javascript:refresh()")
                            i(class="fa fa-undo")
                            刷新
                        a(class="btn btn-danger" href="javascript:deletes()")
                            i(class="fa fa-times")
                            删除
                    .search(class="col-lg-12 col-sm-12 col-xs-12" style="padding:0")
                        .widget(class="collapsed" style="margin-bottom:10px;")
                            .widget-header(style="box-shadow:none;padding-left:0;margin-bottom:10px;")
                                span(class="widget-caption")
                                    .input-group
                                        span(class="input-icon")
                                            input(type="text" class="form-control input-sm")
                                            i(class="glyphicon glyphicon-search primary")
                                .widget-buttons
                                    a(href="#" data-toggle="collapse") 高级搜索
                            .widget-body(style="box-shadow:none;padding:0;")
                                .form-group(class="col-lg-4 col-sm-4 col-xs-4" style="padding-left:0px;")
                                    .input-group
                                        span(class="input-group-addon")
                                            i(class="fa fa-user darkorange")
                                        input(class="form-control" placeholder="策略名称")
                                .form-group(class="col-lg-4 col-sm-4 col-xs-4 has-error has-feedback")
                                    .input-group
                                        span(class="input-group-addon bg-blue bordered-blue")
                                            i(class="fa fa-envelope-o")
                                        input(class="form-control" placeholder="策略版本")
                                .searchinfo(class="col-lg-8 col-sm-8 col-xs-8 col-lg-offset-4 col-sm-offset-4 col-xs-offset-4" style="margin-bottom:20px;margin-top:6px;")
                                    a(class="btn btn-primary" href="javascript:secrhinfo()") 搜索应用
                    .appstable(class="widget-body" style="box-shadow:none;padding:0;")
                    .page1
        .row(class="issuedlist" style="display:none;")
            .widget
                div(class="col-xs-12 col-md-12")
                    .widget-btn
                        a(class="btn btn-primary issuedpl" href="javascript:authbtn()")
                            i(class="fa fa-check")
                            授权
            .tab(class="col-lg-12 col-sm-12 col-xs-12")
                .widget-main
                    .tabbable
                        input(name="package_name" style="display:none;")
                        ul(class="nav nav-tabs tabs-flat" id="myTab11")
                            li(class="active")
                                a(data-toggle="tab" href="#users") 用户列表
                            li
                                a(data-toggle="tab" href="#departs") 部门列表
                        div(class="tab-content tabs-flat")
                            div(id="users" class="tab-pane in active")
                                .usertable(style="box-shadow:none;padding:0;")
                                .page2 
                            div(id="departs" class="tab-pane")
                                .departtable(style="box-shadow:none;padding:0;")
                                .page3
        .row(class="cancellist" style="display:none;")
            .widget
                div(class="col-xs-12 col-md-12")
                    .widget-btn
                        a(class="btn btn-primary issuedpl" href="javascript:unauthbtn()" style="width:auto;")
                            i(class="fa fa-times")
                            取消授权
            .tab(class="col-lg-12 col-sm-12 col-xs-12")
                .widget-main
                    .tabbable
                        input(name="package_name" style="display:none;")
                        ul(class="nav nav-tabs tabs-flat" id="myTab11")
                            li(class="active")
                                a(data-toggle="tab" href="#user1") 用户列表
                            li
                                a(data-toggle="tab" href="#depart1") 部门列表
                        div(class="tab-content tabs-flat")
                            div(id="user1" class="tab-pane in active")
                                .usertable(style="box-shadow:none;padding:0;")
                                .page2 
                            div(id="depart1" class="tab-pane")
                                .departtable(style="box-shadow:none;padding:0;")
                                .page3
        .bootbox(class="modal fade bootbox-confirm in modal-primary" tabindex="-1" role="dialog" style="display:none;" aria-hidden="false")
            .modal-dialog(style="width:500px;")
                .modal-content
        .background 
    script(src="/scripts/jquery.min.js")
    script(async="true" src="/scripts/man_app.js")