extends ../layout

block content
    .page-header(class="position-relative")
        .header-title(style="width:180px;")
            h1 应用
                small
                    i(class="fa fa-angle-right")
                    a(href="javascript:applist()") 应用商店
                    i(class="fa fa-angle-right appadd" style="display:none;") 添加
                    i(class="fa fa-angle-right appmod" style="display:none;") 编辑
                    i(class="fa fa-angle-right appview" style="display:none;") 详情
                    i(class="fa fa-angle-right appissued" style="display:none;") 授权
                    i(class="fa fa-angle-right appissued1" style="display:none;") 取消授权
    .page-body
        .row
            .appslist(class="col-xs-12 col-md-12")
                .widget
                    .widget-btn
                        a(class="btn btn-primary" href="javascript:add()")
                            i(class="fa fa-plus") 添加
                        a(class="btn btn-primary" href="javascript:appauth()") 
                            i(class="fa fa-magic") 授权
                        a(class="hrefactive" href="javascript:refresh()" style="cursor:pointer;opacity:1;")
                            i(class="fa fa-refresh" style="font-size:20px;")
                            p(style="font-size:10px;margin:0;") 刷新
                        a(class="hrefactive" href="javascript:addTotag()")
                            i(class="fa fa-plus-square" style="font-size:20px;")
                            p(style="font-size:10px;margin:0;") 添加标签
                        a(class="hrefactive" href="javascript:deletes()")
                            i(class="fa fa-minus-square" style="font-size:20px;")
                            p(style="font-size:10px;margin:0;") 删除
                        .input-group(class="input-group-sm")
                            input(class="form-control" type="text" name="searchval" style="float:right;max-width:200px;" placeholder="名称" onfocus="this.placeholder=''")
                            span(class="input-group-btn")
                                button(class="btn btn-default btn-primary" type="button" onclick="searchlist()")
                                    i(class="glyphicon glyphicon-search")                                    
                    .appstable(class="widget-body" style="box-shadow:none;padding:0;")
                    .page1
        .row
            .app_add(class="col-xs-12 col-md-12 setting" style="display:none;")
                .widget(style="border: 1px solid #ccc;border-radius: 3px 3px 3px 3px;")
                    iframe(name="iframe" width="0" height="0" style="display:none;")
                    form(form id="addapp" method="post" action="/p/app/upload" enctype="multipart/form-data" target="iframe")
                        .widget-header(style="height:40px;")
                            p(style="line-height: 40px;text-align: left;font-size: 16px;font-weight: bold;color: #444;") 基本信息
                        .widget-body(style="overflow:hidden;")
                            .appupload(class="col-lg-6 col-xs-6 col-sm-8 col-lg-offset-3 col-xs-offset-3 col-sm-offset-3" style="display:none;margin-bottom:0px;margin-top:0px;text-align:center")
                                label(style="color:red") 应用上传中 ......
                            .row(class="col-xs-12 col-md-12" style="margin-bottom:0px;margin-top:0px;")
                                .form-group
                                    div(class="col-lg-6 col-xs-6 col-sm-8 col-lg-offset-3 col-xs-offset-3 col-sm-offset-3")
                                        label(class="control-label" for = "file_data" style="width:110px;")
                                            i(class="icon glyphicon glyphicon-asterisk" style="color:red; font-size:12px;margin-right:10px;")
                                            label 应用程序文件
                                        .adddiv(style="left:140px;padding-top:8px;")
                                            i(class="fa fa-folder-open openfile")
                                            input(type="file" id = "file_data" name="file_data" style="position: absolute;left: 20px;top: 6px;")
                            .row(class="col-xs-12 col-md-12" style="margin-bottom:0px;")
                                .form-group
                                    div(class="col-lg-6 col-xs-6 col-sm-8 col-lg-offset-3 col-xs-offset-3 col-sm-offset-3")
                                        label(class="control-label" for = "name" style="width:110px; padding-left:22px;") 自定义名称
                                        .adddiv(style="left: 140px;")
                                            input(type="text" class="form-control" id = "name" name="name")
                                    div(class="col-lg-3 col-xs-3 col-sm-1")
                                        label 设置后不可更改只能重新上传           
                            .row(class="col-xs-12 col-md-12" style="margin-bottom:0px;")
                                .form-group
                                    div(class="col-lg-6 col-xs-6 col-sm-8 col-lg-offset-3 col-xs-offset-3 col-sm-offset-3")
                                        label(class="control-label" for = "sysRequest" style="width:110px; padding-left:22px;") 最低系统要求
                                        .adddiv(style="left:140px;")
                                            input(name="sid" style="display:none;")
                                            input(name="app_type" value="1" style="display:none;")
                                            input(name="platform" value="1" style="display:none;")
                                            input(name="check_security" value="0" style="display:none;")
                                            select(class="form-control" name="sysRequest" id="sysRequest")
                                                option(class="option" value="19") Android 4.4 (API 19)
                                                option(class="option" value="21") Android 5.0 (API 21)
                                                option(class="option" value="22") Android 5.1 (API 22)
                                                option(class="option" value="23") Android 6.0 (API 23)
                                                option(class="option" value="24") Android 7.0 (API 24)
                                                option(class="option" value="25") Android 7.1.1 (API 25)
                            .row(class="col-xs-12 col-md-12" style="margin-bottom:0px;")
                                .form-group
                                    div(class="col-lg-6 col-xs-6 col-sm-8 col-lg-offset-3 col-xs-offset-3 col-sm-offset-3")
                                        label(class="control-label" for = "describe" style="width:110px; padding-left:22px;") 描述
                                        .adddiv(style="left: 140px;")
                                            input(type="text" class="form-control" id = "describe" name="describe")
                            .row(class="col-xs-12 col-md-12" class="devicesys")
                                .form-group
                                    div(class="col-lg-6 col-xs-6 col-sm-8 col-lg-offset-3 col-xs-offset-3 col-sm-offset-3")
                                        label(class="control-label" for = "usergroup" style="width:110px;margin-bottom:0;")
                                            i(class="icon glyphicon glyphicon-asterisk" style="color:red; font-size:12px;margin-right:10px;")
                                            label 应用权限
                                        .adddiv(style="left: 140px;")
                                            label(class="col-xs-6 col-md-6")
                                                input(name="visit_type" type="radio" value="1" checked)
                                                span(class="text") 公开应用
                                            label(class="col-xs-6 col-md-6")
                                                input(name="visit_type" type="radio" value="0")
                                                span(class="text") 授权应用
                            .row(class="col-xs-12 col-md-12" class="devicesys")
                                .form-group
                                    div(class="col-lg-6 col-xs-6 col-sm-8 col-lg-offset-3 col-xs-offset-3 col-sm-offset-3")
                                        label(class="control-label" for = "usergroup" style="width:110px;margin-bottom:0;")
                                            i(class="icon glyphicon glyphicon-asterisk" style="color:red; font-size:12px;margin-right:10px;")
                                            label 是否必装
                                        .adddiv(style="left: 140px;")
                                            label(class="col-xs-6 col-md-6")
                                                input(name="install_type" type="radio" value="1" checked)
                                                span(class="text") 可选应用
                                            label(class="col-xs-6 col-md-6")
                                                input(name="install_type" type="radio" value="0")
                                                span(class="text") 必装应用
                        .widget-header(style="height:40px;border-top:1px solid #ccc;")
                            p(style="line-height: 40px;text-align: left;font-size: 16px;font-weight: bold;color: #444;") 其他信息
                        .widget-body(style="overflow:hidden;")
                            .row(class="col-xs-12 col-md-12" style="margin-bottom:0px;")
                                .form-group(style="margin-bottom:5px;")
                                    div(class="col-lg-6 col-xs-6 col-sm-8 col-lg-offset-3 col-xs-offset-3 col-sm-offset-3")
                                        label(class="control-label" for = "apptag" style="width:110px; padding-left:22px;") 标签
                                        .adddiv(style="left: 140px;")
                                            select(class="form-control" name="apptag" id="apptag")
                            .row(class="col-xs-12 col-md-12")
                                .form-group
                                    div(class="col-lg-6 col-xs-6 col-sm-8 col-lg-offset-3 col-xs-offset-3 col-sm-offset-3")
                                        .div(class="col-lg-7 col-xs-7 col-sm-7" style="padding-top:10px;text-align:right;")
                                            a(class="btn" href="javascript:applist()" style="width:78px;") 取消
                                        .div(class="col-lg-5 col-xs-5 col-sm-5" style="padding-top:10px;text-align:center;")
                                            button(class="btn btn-primary" type="submit" style="width:78px;") 保存
        .row
            .app_mod(class="col-xs-12 col-md-12 setting" style="display:none;")
                .widget(style="border: 1px solid #ccc;border-radius: 3px 3px 3px 3px;")
                    .widget-header(style="height:40px;")
                        p(style="line-height: 40px;text-align: left;font-size: 16px;font-weight: bold;color: #444;") 基本信息
                    .widget-body(style="overflow:hidden;")
                        .row(class="col-xs-12 col-md-12" style="margin-bottom:0px;")
                                .form-group
                                    div(class="col-lg-6 col-xs-6 col-sm-8 col-lg-offset-3 col-xs-offset-3 col-sm-offset-3")
                                        label(class="control-label" style="width:110px; padding-left:22px;") 自定义名称
                                        .adddiv(style="left: 140px;")
                                            input(type="text" class="form-control" name="name")
                                    div(class="col-lg-3 col-xs-3 col-sm-1")
                                        label 设置后不可更改只能重新上传 
                        .row(class="col-xs-12 col-md-12" style="margin-bottom:0px;")
                            .form-group
                                div(class="col-lg-6 col-xs-6 col-sm-8 col-lg-offset-3 col-xs-offset-3 col-sm-offset-3")
                                    label(class="control-label" for = "_version" style="width:110px; padding-left:22px;") 最低系统要求
                                    .adddiv(style="left:140px;")
                                        select(class="form-control" name="_version" id="_version")
                                            option(class="option" value="25") Android 7.1.1 (API 25)
                                            option(class="option" value="24") Android 7.0 (API 24)
                                            option(class="option" value="23") Android 6.0 (API 23)
                                            option(class="option" value="22") Android 5.1 (API 22)
                                            option(class="option" value="21") Android 5.0 (API 21)
                                            option(class="option" value="19") Android 4.4 (API 19)
                        .row(class="col-xs-12 col-md-12" style="margin-bottom:0px;")
                            .form-group
                                div(class="col-lg-6 col-xs-6 col-sm-8 col-lg-offset-3 col-xs-offset-3 col-sm-offset-3")
                                    label(class="control-label" for = "_describe" style="width:110px; padding-left:22px;") 描述
                                    .adddiv(style="left: 140px;")
                                        input(name="appid" style="display:none;")
                                        input(name="package_name" style="display:none;")
                                        input(name="platform" style="display:none;")
                                        input(type="text" class="form-control" id = "_describe" name="_describe")
                        .row(class="col-xs-12 col-md-12" class="devicesys")
                            .form-group
                                div(class="col-lg-6 col-xs-6 col-sm-8 col-lg-offset-3 col-xs-offset-3 col-sm-offset-3")
                                    label(class="control-label" style="width:110px;margin-bottom:0;")
                                        i(class="icon glyphicon glyphicon-asterisk" style="color:red; font-size:12px;margin-right:10px;")
                                        label 应用权限
                                    .adddiv(style="left: 140px;")
                                        label(class="col-xs-6 col-md-6")
                                            input(name="visit_type" type="radio" value="1")
                                            span(class="text") 公开应用
                                        label(class="col-xs-6 col-md-6")
                                            input(name="visit_type" type="radio" value="0")
                                            span(class="text") 授权应用
                        .row(class="col-xs-12 col-md-12" class="devicesys")
                            .form-group
                                div(class="col-lg-6 col-xs-6 col-sm-8 col-lg-offset-3 col-xs-offset-3 col-sm-offset-3")
                                    label(class="control-label" style="width:110px;margin-bottom:0;")
                                        i(class="icon glyphicon glyphicon-asterisk" style="color:red; font-size:12px;margin-right:10px;")
                                        label 是否必装
                                    .adddiv(style="left: 140px;")
                                        label(class="col-xs-6 col-md-6")
                                            input(name="install_type" type="radio" value="1")
                                            span(class="text") 可选应用
                                        label(class="col-xs-6 col-md-6")
                                            input(name="install_type" type="radio" value="0")
                                            span(class="text") 必装应用
                    .widget-header(style="height:40px;border-top:1px solid #ccc;")
                        p(style="line-height: 40px;text-align: left;font-size: 16px;font-weight: bold;color: #444;") 其他信息
                    .widget-body(style="overflow:hidden;")
                        .row(class="col-xs-12 col-md-12" style="margin-bottom:0px;")
                            .form-group(style="margin-bottom:5px;")
                                div(class="col-lg-6 col-xs-6 col-sm-8 col-lg-offset-3 col-xs-offset-3 col-sm-offset-3")
                                    label(class="control-label" style="width:110px;") 标签
                                    .adddiv(style="left: 140px;")
                                        select(class="form-control" name="_apptag")
                        .row(class="col-xs-12 col-md-12")
                            .form-group
                                div(class="col-lg-6 col-xs-6 col-sm-8 col-lg-offset-3 col-xs-offset-3 col-sm-offset-3")
                                    .div(class="col-lg-7 col-xs-7 col-sm-7" style="padding-top:10px;text-align:right;")
                                        a(class="btn" href="javascript:applist()" style="width:78px;") 取消
                                    .div(class="col-lg-5 col-xs-5 col-sm-5" style="padding-top:10px;text-align:center;")
                                        a(class="btn btn-primary" href="javascript:app_mod()" style="width:78px;") 保存
        .row
            .app_view(class="col-xs-12 col-md-12 setting" style="display:none;")
                .widget(style="border: 1px solid #ccc;border-radius: 3px 3px 3px 3px;")
                    .widget-header(style="height:40px;")
                        p(style="line-height: 40px;text-align: left;font-size: 16px;font-weight: bold;color: #444;") 基本信息
                    .widget-body(style="overflow:hidden;")
                        .row(class="col-xs-12 col-md-12" style="margin-bottom:0px;")
                            .form-group
                                div(class="col-lg-6 col-xs-6 col-sm-8 col-lg-offset-3 col-xs-offset-3 col-sm-offset-3")
                                    label(class="control-label" style="width:110px; padding-left:22px;") 自定义名称
                                    .adddiv(style="left: 140px;")
                                        input(type="text" class="form-control" name="name")
                                div(class="col-lg-3 col-xs-3 col-sm-1")
                                    label 设置后不可更改只能重新上传
                        .row(class="col-xs-12 col-md-12" style="margin-bottom:0px;")
                            .form-group
                                div(class="col-lg-6 col-xs-6 col-sm-8 col-lg-offset-3 col-xs-offset-3 col-sm-offset-3")
                                    label(class="control-label" style="width:110px; padding-left:22px;") 最低系统要求
                                    .adddiv(style="left:140px;")
                                        select(class="form-control" name="app_version" id="app_version" disabled="disabled")
                                            option(class="option" value="25") Android 7.1.1 (API 25)
                                            option(class="option" value="24") Android 7.0 (API 24)
                                            option(class="option" value="23") Android 6.0 (API 23)
                                            option(class="option" value="22") Android 5.1 (API 22)
                                            option(class="option" value="21") Android 5.0 (API 21)
                                            option(class="option" value="19") Android 4.4 (API 19)
                        .row(class="col-xs-12 col-md-12" style="margin-bottom:0px;")
                            .form-group
                                div(class="col-lg-6 col-xs-6 col-sm-8 col-lg-offset-3 col-xs-offset-3 col-sm-offset-3")
                                    label(class="control-label" style="width:110px; padding-left:22px;") 描述
                                    .adddiv(style="left: 140px;")
                                        input(type="text" class="form-control" name="app_describe" disabled="disabled")
                        .row(class="col-xs-12 col-md-12" class="devicesys")
                            .form-group
                                div(class="col-lg-6 col-xs-6 col-sm-8 col-lg-offset-3 col-xs-offset-3 col-sm-offset-3")
                                    label(class="control-label" style="width:110px;margin-bottom:0;")
                                        i(class="icon glyphicon glyphicon-asterisk" style="color:red; font-size:12px;margin-right:10px;")
                                        label 应用权限
                                    .adddiv(style="left: 140px;")
                                        label(class="col-xs-6 col-md-6")
                                            input(name="visit_type" type="radio" value="1" disabled="disabled")
                                            span(class="text") 公开应用
                                        label(class="col-xs-6 col-md-6")
                                            input(name="visit_type" type="radio" value="0" disabled="disabled")
                                            span(class="text") 授权应用
                        .row(class="col-xs-12 col-md-12" class="devicesys")
                            .form-group
                                div(class="col-lg-6 col-xs-6 col-sm-8 col-lg-offset-3 col-xs-offset-3 col-sm-offset-3")
                                    label(class="control-label" style="width:110px;margin-bottom:0;")
                                        i(class="icon glyphicon glyphicon-asterisk" style="color:red; font-size:12px;margin-right:10px;")
                                        label 是否必装
                                    .adddiv(style="left: 140px;")
                                        label(class="col-xs-6 col-md-6")
                                            input(name="install_type" type="radio" value="1" disabled="disabled")
                                            span(class="text") 可选应用
                                        label(class="col-xs-6 col-md-6")
                                            input(name="install_type" type="radio" value="0" disabled="disabled")
                                            span(class="text") 必装应用
                    .widget-header(style="height:40px;border-top:1px solid #ccc;")
                        p(style="line-height: 40px;text-align: left;font-size: 16px;font-weight: bold;color: #444;") 其他信息
                    .widget-body(style="overflow:hidden;")
                        .row(class="col-xs-12 col-md-12" style="margin-bottom:0px;")
                            .form-group(style="margin-bottom:5px;")
                                div(class="col-lg-6 col-xs-6 col-sm-8 col-lg-offset-3 col-xs-offset-3 col-sm-offset-3")
                                    label(class="control-label" style="width:110px;") 标签
                                    .adddiv(style="left: 140px;")
                                        select(class="form-control" name="apptag" disabled="disabled")
        .row(class="issuedlist" style="display:none;")
            .widget
                div(class="col-xs-12 col-md-12")
                    .widget-btn
                        a(class="btn btn-primary issuedpl" href="javascript:authbtn()")
                            i(class="fa fa-check") 授权
                        a(class="btn btn-primary issuedpl" href="javascript:unauthbtn()" style="width:auto;")
                            i(class="fa fa-times") 取消授权
                        .input-group(class="input-group-sm" style="padding-right:27px;")
                            input(class="form-control" type="text" name="keyvalue" placeholder="按账号搜索" onfocus="this.placeholder=''" style="float:right;max-width:200px;")
                            span(class="input-group-btn")
                                button(class="btn btn-default btn-primary" type="button" onclick="searchauthlist()")
                                    i(class="glyphicon glyphicon-search")
            .tab(class="col-lg-12 col-sm-12 col-xs-12")
                .widget-main
                    .tabbable
                        input(name="package_name" style="display:none;")
                        ul(class="nav nav-tabs tabs-flat" id="myTab11")
                            //-li(class="active")
                                a(data-toggle="tab" href="#users") 用户列表
                            li(class="active")
                                a(data-toggle="tab" href="#departs") 用户组
                            li
                                a(data-toggle="tab" href="#usertag") 标签列表
                        div(class="tab-content tabs-flat")
                            //-div(id="users" class="tab-pane in active")
                                .usertable(style="box-shadow:none;padding:0;")
                                .page2 
                            div(id="departs" class="tab-pane in active")
                                div(class="col-lg-4 col-sm-4 col-xs-4")
                                    #treegroup
                                div(class="col-lg-8 col-sm-8 col-xs-8")
                                    .usertable(style="box-shadow:none;padding:0;")
                                    .page2
                            div(id="usertag" class="tab-pane")
                                div(class="col-lg-4 col-sm-4 col-xs-4")
                                    ul(id="usertaglist" style="padding-left:0px;")
                                div(class="col-lg-8 col-sm-8 col-xs-8")
                                    .tagusertable(style="box-shadow:none;padding:0;")
                                    .page3
        //-.row(class="cancellist" style="display:none;")
            .widget
                div(class="col-xs-12 col-md-12")
                    .widget-btn
                        a(class="btn btn-primary issuedpl" href="javascript:unauthbtn()" style="width:auto;")
                            i(class="fa fa-times")
                            取消授权
            .tab(class="col-lg-12 col-sm-12 col-xs-12")
                .widget-main
                    .tabbable
                        input(name="packagename" style="display:none;")
                        ul(class="nav nav-tabs tabs-flat" id="myTab11")
                            li(class="active")
                                a(data-toggle="tab" href="#user1") 用户列表
                            li
                                a(data-toggle="tab" href="#depart1") 部门列表
                        div(class="tab-content tabs-flat")
                            div(id="user1" class="tab-pane in active")
                                .usertable(style="box-shadow:none;padding:0;")
                                .page2 
                            div(id="depart1" class="tab-pane")
                                .departtable(style="box-shadow:none;padding:0;")
                                .page3
        .searchmesg
            span(class="searchicon" id="searchicon")
                i(class="glyphicon glyphicon-dashboard")
                p(style="font-size:12px;") 搜索
            .searchcontent(id="searchcontent")
                .div
                    .treehead(style="height:40px;border-bottom: 1.5px solid #888;")
                        i(class="fa fa-chevron-circle-right cursor" style="color:#fff;margin-left:10px;font-size:18px;line-height:40px;")
                        i(class="fa fa-filter" style="float: right;font-size: 18px;color: #fff;line-height:40px;") 筛选
                    .tag(style="max-height:400px;")
                        i(class="fa fa-tags openfile" style="margin-right: 4px;font-size: 16px;")
                        label(style="font-size:16px;margin-bottom:0px;") 标签
                        ul(class="list-group" style="margin-bottom:0;")
        .bootbox(class="modal fade bootbox-confirm in modal-primary" tabindex="-1" role="dialog" style="display:none;" aria-hidden="false")
            .modal-dialog
                .modal-content
        .background 
    script(src="/scripts/jquery.min.js")
    script(async="true" src="/scripts/man_app.js" charset="UTF-8")