extends ../layout

block content
    .page-header(class="position-relative")
        .header-title
            h1 首页
    .page-body(style="background:#f5f5f5;")
        .row(style="margin-bottom:20px;")
            .firsttop(class="col-lg-12 col-sm-12 col-xs-12")
                .t1(class="col-lg-3 col-sm-3 col-xs-3")
                    .title 用户
                    .content
                        .totaluser(class="col-xs-6 list")
                            span(class="user_count") 30
                            .infos 用户总数
                        .useractive(class="col-xs-6 list")
                            span(class="active_user_count") 20
                            .infos 已激活用户数
                .t2(class="col-lg-3 col-sm-3 col-xs-3" style="padding-left:5px;")
                    .title 设备
                    .content
                        .totaluser(class="col-xs-4 list")
                            span(class="device_count") 15
                            .infos 设备总数
                        .useractive(class="col-xs-4 list")
                            span(class="device_count") 9
                            .infos 已激活设备数
                        .useractive(class="col-xs-4 list")
                            span(class="online_device_count") 8
                            .infos 在线设备数
                .t3(class="col-lg-3 col-sm-3 col-xs-3" style="padding-left:5px;")
                    .title 策略
                    .content
                        .totaluser(class="col-xs-4 list")
                            span(class="policy_count") 75
                            .infos 策略总数
                        .useractive(class="col-xs-4 list")
                            span(class="on_policy_count") 54
                            .infos 已启动策略数
                        .useractive(class="col-xs-4 list")
                            span(class="issued_policy") 45
                            .infos 已下发策略数
                .t4(class="col-lg-3 col-sm-3 col-xs-3" style="padding-left:5px;")
                    .title 应用
                    .content
                        .totaluser(class="col-xs-4 list")
                            span(class="app_count") 55
                            .infos 应用总数
                        .useractive(class="col-xs-4 list")
                            span(class="issued_app") 52
                            .infos 已下发应用数
                        .useractive(class="col-xs-4 list")
                            span(class="blicklist_count") 5
                            .infos 应用黑名单数
            //-.firsttop(class="col-lg-12 col-sm-12 col-xs-12")
                .t1(class="col-lg-3 col-sm-3 col-xs-3")
                    ul(class="list-group")
                        li(class="list-group-item")
                            img(src="../imgs/1.png" class="img-circle")
                        li(class="list-group-item")
                            span(class="menu-text") 设备数量
                        li(class="list-group-item count")
                .t2(class="col-lg-3 col-sm-3 col-xs-3")
                    ul(class="list-group")
                        li(class="list-group-item")
                            img(src="../imgs/2.png" class="img-circle")
                        li(class="list-group-item")
                            span(class="menu-text") 用户数量
                        li(class="list-group-item count")
                .t3(class="col-lg-3 col-sm-3 col-xs-3")
                    ul(class="list-group")
                        li(class="list-group-item")
                            img(src="../imgs/3.png" class="img-circle")
                        li(class="list-group-item")
                            span(class="menu-text") 应用数量
                        li(class="list-group-item count")
                .t4(class="col-lg-3 col-sm-3 col-xs-3")
                    ul(class="list-group")
                        li(class="list-group-item")
                            img(src="../imgs/4.png" class="img-circle")
                        li(class="list-group-item")
                            span(class="menu-text") 部门数量
                        li(class="list-group-item count")
        .row
            .first(class="col-lg-12 col-sm-12 col-xs-12")
                div(class="col-lg-3 col-sm-6 col-xs-12")
                    .widget(style="margin:0 0 16px 0;")
                        .widget-header
                            span(class="widget-caption" style="font-size:16px;") 已激活用户百分比
                        .widget-body
                            .circle(id="online")
                                .pie_left
                                    .left
                                .pie_right
                                    .right
                                .mask
                                    span 0
                                    label %
                div(class="col-lg-3 col-sm-6 col-xs-12" style="padding-left:5px;")
                    .widget(style="margin:0 0 16px 0;")
                        .widget-header
                            span(class="widget-caption" style="font-size:16px;") 设备合规百分比
                        .widget-body
                            .circle(id="depart")
                                .pie_left
                                    .left
                                .pie_right
                                    .right
                                .mask
                                    span 0
                                    label %
                .poly(class="col-lg-3 col-sm-6 col-xs-12")
                    .widget
                        .widget-header
                            span(class="widget-caption" style="font-size:16px;") 策略下发百分比
                        .widget-body
                            .circle(id="app")
                                .pie_left
                                    .left
                                .pie_right
                                    .right
                                .mask
                                    span 0
                                    label %
                div(class="col-lg-3 col-sm-6 col-xs-12" style="padding-left:5px;")
                    .widget
                        .widget-header
                            span(class="widget-caption" style="font-size:16px;") 每天在线设备数量
                        .widget-body
                            #deviceNum
        .bootbox(class="modal fade bootbox-confirm in modal-primary" tabindex="-1" role="dialog" style="display:none;" aria-hidden="false")
            .modal-dialog(style="width:500px;")
                .modal-content
        .background
        .page-version(style="margin-right: 15px;text-align:right;color:#aaa;")
            label 版本信息 : Secspace_V5.0.1
    script(src="/scripts/jquery.min.js")
    script(async="true" src="/scripts/man_first.js")
    script(async="true" src="http://cdn.hcharts.cn/highcharts/highcharts.js") 
    script(async="true" src="https://cdn.hcharts.cn/highcharts/highcharts.js")