extends ../layout

block content
    .page-header(class="position-relative")
        .header-title(style="width:180px;")
            h1
                策略
                small
                    i(class="fa fa-angle-right")
                    a 系统合规
    .page-body
        .row
            .setting(class="col-xs-12 col-md-12")
                .widget(style="height: 400px;border: 1px solid #ccc;border-radius: 3px 3px 3px 3px;")
                    .widget-header(style="height:50px;")
                        p(style="line-height: 50px;text-align: left;font-size: 16px;font-weight: bold;color: #444;") 系统合规
                    .widget-body
                        .row(class="col-xs-12 col-md-12" style="margin-bottom:0px;")
                            .form-group
                                label(class="col-lg-4 col-xs-6 col-sm-5 control-label" for = "is_sim") 是否有sim卡(4.0以下版本只检测主卡)
                                .inforow(class="col-lg-4 col-xs-4 col-sm-5")
                                    div(class="checkbox" style="margin-top:0px;margin-bottom:0px;")
                                        label(style="padding-left:0;")
                                            input(type="checkbox" onclick="selectcheckbox(this)" name="is_sim")
                                            span(class="text" id="is_sim")
                        .row(class="col-xs-12 col-md-12" style="margin-bottom:0px;")
                            .form-group
                                label(class="col-lg-4 col-xs-6 col-sm-5 control-label" for = "is_root") 是否root 
                                .inforow(class="col-lg-4 col-xs-4 col-sm-5")
                                    div(class="checkbox" style="margin-top:0px;margin-bottom:0px;")
                                        label(style="padding-left:0;")
                                            input(type="checkbox" onclick="selectcheckbox(this)" name="is_root")
                                            span(class="text" id="is_root") 
                        .row(class="col-xs-12 col-md-12" style="margin-bottom:0px;")
                            .form-group
                                label(class="col-lg-4 col-xs-6 col-sm-5 control-label" for = "is_android") 设备系统最低版本限制 
                                .inforow(class="col-lg-4 col-xs-4 col-sm-5")
                                    div(class="checkbox" style="margin-top:0px;margin-bottom:0px;")
                                        label(style="padding-left:0;")
                                            input(type="checkbox" onclick="selectsys(this)" name="is_android")
                                            span(class="text" id="is_android") &nbsp;&nbsp; 
                        .row(class="col-xs-12 col-md-12" class="devicesys")
                            .form-group
                                label(class="col-lg-4 col-xs-6 col-sm-5 control-label")
                                .inforow(class="col-lg-4 col-xs-4 col-sm-5")
                                    select(class="form-control" name="os_version" id="os_version")
                                        option(class="option" value="25") Android 7.1.1 (API 25)
                                        option(class="option" value="24") Android 7.0 (API 24)
                                        option(class="option" value="23") Android 6.0 (API 23)
                                        option(class="option" value="22") Android 5.1 (API 22)
                                        option(class="option" value="21") Android 5.0 (API 21)
                                        option(class="option" value="19") Android 4.4 (API 19)
                                        //-option(class="option" value="18") Android 4.3 (18)
                                        //-option(class="option" value="17") Android 4.2 (17)
                                        //-option(class="option" value="16") Android 4.1 (16)
                                        //-option(class="option" value="15") Android 4.0.3 (15)
                        .row(class="col-xs-12 col-md-12")
                            .form-group
                                label(class="col-lg-4 col-xs-6 col-sm-5 control-label" for = "violation_handing") 违规处理
                                .inforow(class="col-lg-4 col-xs-4 col-sm-5")
                                    select(class="form-control" name="violation_handing" id="violation_handing")
                                        option(value="0") 请选择
                                        option(value="1") 禁止使用移动安全办公
                        .row(class="col-xs-12 col-md-12")
                            .form-group
                                .widget-btn(class="col-lg-1 col-xs-1 col-sm-1 col-lg-offset-4 col-sm-offset-5 col-xs-offset-6")
                                    a(class="btn btn-primary" href="javascript:compliancesave()") 保存
                                .widget-btn(class="col-lg-1 col-xs-1 col-sm-1 col-lg-offset-1 col-sm-offset-1 col-xs-1")
                                    a(class="btn btn-warning" href="javascript:cancel()") 取消    
        .bootbox(class="modal fade bootbox-confirm in modal-primary" tabindex="-1" role="dialog" style="display:none;" aria-hidden="false")
            .modal-dialog(style="width:500px;")
                .modal-content
        .background  
    script(src="/scripts/jquery.min.js")
    script(async="true" src="/scripts/man_compliance.js")