extends ../layout

block content
    .page-header(class="position-relative")
        .header-title(style="width:180px;")
            h1
                设置
                small
                    i(class="fa fa-angle-right")
                    a(href="javascript:appslist()") 版本管理
    .page-body
        .row
            .versionlist(class="col-xs-12 col-md-12")
                .widget
                    .widget-btn
                        a(class="btn btn-primary" href="javascript:add()") 
                            i(class="fa fa-plus")
                            添加
                        a(class="btn btn-primary" href="javascript:refresh()")
                            i(class="fa fa-undo")
                            刷新
                        a(class="btn btn-danger" href="javascript:deletes()")
                            i(class="fa fa-times")
                            删除
                    .search(class="col-lg-12 col-sm-12 col-xs-12" style="padding:0")
                        .widget(class="collapsed" style="margin-bottom:10px;")
                            .widget-header(style="box-shadow:none;padding-left:0;margin-bottom:10px;")
                                span(class="widget-caption")
                                    .input-group
                                        span(class="input-icon")
                                            input(type="text" class="form-control input-sm")
                                            i(class="glyphicon glyphicon-search primary")
                                .widget-buttons
                                    a(href="#" data-toggle="collapse") 高级搜索
                            .widget-body(style="box-shadow:none;padding:0;")
                                .form-group(class="col-lg-4 col-sm-4 col-xs-4" style="padding-left:0px;")
                                    .input-group
                                        span(class="input-group-addon")
                                            i(class="fa fa-user darkorange")
                                        input(class="form-control" placeholder="版本名称")
                                .form-group(class="col-lg-4 col-sm-4 col-xs-4 has-error has-feedback")
                                    .input-group
                                        span(class="input-group-addon bg-blue bordered-blue")
                                            i(class="fa fa-envelope-o")
                                        input(class="form-control" placeholder="版本编号")
                                .searchinfo(class="col-lg-8 col-sm-8 col-xs-8 col-lg-offset-4 col-sm-offset-4 col-xs-offset-4" style="margin-bottom:20px;margin-top:6px;")
                                    a(class="btn btn-primary" href="javascript:secrhinfo()") 搜索版本
                    .versiontable(class="widget-body" style="box-shadow:none;padding:0;")
                    .page1
        .bootbox(class="modal fade bootbox-confirm in modal-primary" tabindex="-1" role="dialog" style="display:none;" aria-hidden="false")
            .modal-dialog(style="width:500px;")
                .modal-content
        .background 
    script(src="/scripts/jquery.min.js")
    script(async="true" src="/scripts/man_version.js")