extends ../layout

block content
    .page-header(class="position-relative")
        .header-title(style="width:180px;")
            h1 设置
                small
                    i(class="fa fa-angle-right")
                    a 基本信息设置
    .page-body
        .row
            .setting(class="col-xs-12 col-md-12")
                .widget
                    .widget-header
                        i(class="widget-icon fa fa-gear")
                        .widget-buttons(style="position:absolute;left:25px;")
                            a(href="#" data-toggle="collapse") 服务端设置
                    .widget-body
                        form(action='/man/setting/orgUpdateSettings')
                            .row(class="col-xs-12 col-md-12")
                                h5 登录安全策略
                            .row(class="col-xs-12 col-md-12")
                                .form-group
                                    label(class="col-lg-3 col-xs-4 col-sm-4 control-label" for = "pw_max_try_times") 密码连续失败次数
                                    .inforow(class="col-lg-3 col-xs-4 col-sm-4")
                                        input(type="number" name="pw_max_try_times" class = "form-control" id = "pw_max_try_times" min=1 max=20)
                                    label(class="col-lg-6 col-xs-4 col-sm-4 control-label") 次
                            .row(class="col-xs-12 col-md-12")
                                .form-group
                                    label(class="col-lg-3 col-xs-4 col-sm-4 control-label" for = "frozen_time") 用户冻结时间
                                    .inforow(class="col-lg-3 col-xs-4 col-sm-4")
                                        input(type="number" name="frozen_time" class = "form-control" id = "frozen_time" min=10 max=60*24*365)
                                    label(class="col-lg-6 col-xs-4 col-sm-4 control-label") 分钟
                            .row(class="col-xs-12 col-md-12")
                                h5 消息服务地址设置
                            .row(class="col-xs-12 col-md-12")
                                .form-group
                                    label(class="col-lg-3 col-xs-4 col-sm-4 control-label" for = "send_url") 消息服务地址
                                    .inforow(class="col-lg-3 col-xs-4 col-sm-4")
                                        input(type="text" name="send_url" class = "form-control" id = "send_url")
                                    .widget-btn(class="col-lg-5 col-xs-3 col-sm-3 col-lg-offset-1 col-sm-offset-1 col-xs-1")
                                        button(type="button" class="btn btn-primary" onclick="formAjax(setCallback)") 保存



            //  客户端设置
            .setting(class="col-xs-12 col-md-12")
                .widget(class="collapsed")
                    .widget-header
                        i(class="widget-icon fa fa-gear")
                        .widget-buttons(style="position:absolute;left:25px;")
                            a(href="#" data-toggle="collapse") 客户端设置
                    .widget-body
                        form(action='/man/setting/orgUpdateSettings')
                            .row(class="col-xs-12 col-md-12")
                                h5 会话时间设置
                            // 会话时间
                            .row(class="col-xs-12 col-md-12")
                                .form-group
                                    label(class="col-lg-3 col-xs-4 col-sm-4 control-label" for = "session_expire_time") 会话时间
                                    .inforow(class="col-lg-3 col-xs-4 col-sm-4")
                                        input(type="number" name="session_expire_time" class = "form-control" id = "session_expire_time" min=120)
                                    label(class="col-lg-6 col-xs-4 col-sm-4 control-label") 分钟
                            .row(class="col-xs-12 col-md-12")
                                .form-group
                                    label(class="col-lg-3 col-xs-4 col-sm-4 control-label" for = "pw_max_try_times") 密码连续失败次数
                                    .inforow(class="col-lg-3 col-xs-4 col-sm-4")
                                        input(type="number" name="client_pw_try_times" class = "form-control" id = "client_pw_try_times" min=1 max=20)
                                    label(class="col-lg-6 col-xs-4 col-sm-4 control-label") 次
                            // 用户冻结时间
                            .row(class="col-xs-12 col-md-12")
                                .form-group
                                    label(class="col-lg-3 col-xs-4 col-sm-4 control-label" for = "client_frozen_time") 用户冻结时间
                                    .inforow(class="col-lg-3 col-xs-4 col-sm-4")
                                        input(type="number" name="client_frozen_time" class = "form-control" id = "client_frozen_time" min=10 max=60*24)
                                    label(class="col-lg-6 col-xs-4 col-sm-4 control-label") 分钟
                            .row(class="col-xs-12 col-md-12")
                                h5 登录设置
                            .row(class="col-xs-12 col-md-12")
                                .form-group
                                    label(class="col-lg-3 col-xs-4 col-sm-4 control-label") 用户记住登录帐号口令
                                    .inforow(class="col-lg-4 col-xs-6 col-sm-6")
                                        label(class="col-xs-5 col-md-6")
                                            input(name="allow_remember_pw" type="radio" value="1")
                                            span(class="text") 允许
                                        label(class="col-xs-7 col-md-6")
                                            input(name="allow_remember_pw" type="radio" value="0")
                                            span(class="text") 不允许
                            .row(class="col-xs-12 col-md-12")
                                h5 应用下载设置
                            .row(class="col-xs-12 col-md-12")
                                .form-group
                                    label(class="col-lg-3 col-xs-4 col-sm-4 control-label" for = "max_download") 应用下载并发数
                                    .inforow(class="col-lg-3 col-xs-4 col-sm-4")
                                        select(class="form-control" name="max_download" id="max_download")
                                            option(disabled value='') 请选择
                                            option(value="1") 1
                                            option(value="2") 2
                                            option(value="3") 3
                                    label(class="col-lg-5 col-xs-4 col-sm-2 control-label") 个
                            .row(class="col-xs-12 col-md-12")
                                h5 密码长度设置
                            .row(class="col-xs-12 col-md-12")
                                .form-group
                                    label(class="col-lg-3 col-xs-4 col-sm-4 control-label" for = "pw_min_len") 密码长度
                                    .inforow(class="col-lg-3 col-xs-4 col-sm-4")
                                        input(type="number" name="pw_min_len" class = "form-control" id = "pw_min_len" min=6 max=10 value=6)
                            .row(class="col-xs-12 col-md-12")
                                h5 密码复杂度设置
                            .row(class="col-xs-12 col-md-12")
                                .form-group
                                    label(class="col-lg-3 col-xs-4 col-sm-4 control-label" for = "passwd_type") 密码复杂度
                                    .inforow(class="col-lg-3 col-xs-4 col-sm-4")
                                        select(class="form-control" name="passwd_type" id="passwd_type")
                                            option(value="1") 数字
                                            option(value="2") 数字加字母
                            .row(class="col-xs-12 col-md-12")
                                h5 密码有效期设置
                            .row(class="col-xs-12 col-md-12")
                                .form-group
                                    label(class="col-lg-3 col-xs-4 col-sm-4 control-label" for = "pw_min_len") 密码有效期
                                    .inforow(class="col-lg-3 col-xs-4 col-sm-4")
                                        input(type="number" name="passwd_available" class = "form-control" id = "passwd_available" min=1 max=365 value=0)
                                    label(class="col-lg-6 col-xs-4 col-sm-4 control-label") 天
                            .row(class="col-xs-12 col-md-12")
                                h5(title="控制安全空间内应用对摄像头的访问") 空间应用摄像头设置
                            .row(class="col-xs-12 col-md-12")
                                .form-group
                                    label(class="col-lg-3 col-xs-4 col-sm-4 control-label") 禁止访问
                                    .inforow(class="col-lg-3 col-xs-4 col-sm-4")
                                        label(class="col-xs-5 col-md-6")
                                            input(name="camera_control" type="radio" value="1")
                                            span(class="text") 开启
                                        label(class="col-xs-7 col-md-6")
                                            input(name="camera_control" type="radio" value="0")
                                            span(class="text") 关闭
                            .row(class="col-xs-12 col-md-12")
                                h5 截屏设置
                            .row(class="col-xs-12 col-md-12")
                                .form-group
                                    label(class="col-lg-3 col-xs-4 col-sm-4 control-label") 禁止截屏
                                    .inforow(class="col-lg-3 col-xs-4 col-sm-4")
                                        label(class="col-xs-5 col-md-6")
                                            input(name="screenshot" type="radio" value="1")
                                            span(class="text") 开启
                                        label(class="col-xs-7 col-md-6")
                                            input(name="screenshot" type="radio" value="0")
                                            span(class="text") 关闭
                                    .widget-btn(class="col-lg-5 col-xs-2 col-sm-2 col-lg-offset-1 col-sm-offset-1 col-xs-1")
                                        button(type="button" class="btn btn-primary" onclick="formAjax(setCallback)") 保存

            .setting(class="col-xs-12 col-md-12")
                .widget(class="collapsed")
                    .widget-header
                        i(class="widget-icon fa fa-gear")
                        .widget-buttons(style="position:absolute;left:25px;")
                            a(href="#" data-toggle="collapse") 水印设置
                    .widget-body
                        form(action='/man/setting/orgUpdateSettings')
                            .row(class="col-xs-12 col-md-12")
                                .form-group
                                    label(class="col-lg-3 col-xs-4 col-sm-4 control-label") 开启/关闭水印
                                    .inforow(class="col-lg-4 col-xs-6 col-sm-6")
                                        label(class="col-xs-5 col-md-6")
                                            input(name="switch" type="radio" value="1")
                                            span(class="text") 开启
                                        label(class="col-xs-7 col-md-6")
                                            input(name="switch" type="radio" value="0")
                                            span(class="text") 关闭
                            .row(class="col-xs-12 col-md-12")
                                .form-group
                                    label(class="col-lg-3 col-xs-4 col-sm-4 control-label" for = "font_type") 水印显示类型
                                    .inforow(class="col-lg-3 col-xs-4 col-sm-4")
                                        select(class="form-control" name="font_type" id="font_type")
                                            option(value="user_name") 用户名
                                            option(value="company_name") 企业名称
                                            option(value="phone") 用户手机号
                            .row(class="col-xs-12 col-md-12")
                                .form-group
                                    label(class="col-lg-3 col-xs-4 col-sm-4 control-label" for = "font_size") 文字大小
                                    .inforow(class="col-lg-3 col-xs-4 col-sm-4")
                                        select(class="form-control" name="font_size" id="font_size")
                                            option(value="1") 小
                                            option(value="2") 标准
                                            option(value="3") 大
                            .row(class="col-xs-12 col-md-12")
                                .form-group
                                    label(class="col-lg-3 col-xs-4 col-sm-4 control-label" for = "font_color") 字体颜色
                                    .inforow(class="col-lg-3 col-xs-4 col-sm-4")
                                        input(type="text" name="font_color" class = "form-control" id = "font_color" value="00ff00")
                            .row(class="col-xs-12 col-md-12")
                                .form-group
                                    label(class="col-lg-3 col-xs-4 col-sm-4 control-label" for = "font_opacity") 文字透明度
                                    .inforow(class="col-lg-3 col-xs-4 col-sm-4")
                                        select(class="form-control" name="font_opacity" id="font_opacity")
                                            option(value="75%") 75%
                                            option(value="50%") 50%
                                            option(value="25%") 25%
                                    .widget-btn(class="col-lg-5 col-xs-3 col-sm-3 col-lg-offset-1 col-sm-offset-1 col-xs-1")
                                        button(type="button" class="btn btn-primary" onclick="formAjax(setCallback)") 保存
            .setting(class="col-xs-12 col-md-12")
                .widget(class="collapsed")
                    .widget-header
                        i(class="widget-icon fa fa-gear")
                        .widget-buttons(style="position:absolute;left:25px;")
                            a(href="#" data-toggle="collapse") 邮件服务器设置
                    .widget-body
                        form(action='/man/setting/orgUpdateSettings')
                            .row(class="col-xs-12 col-md-12")
                                .form-group
                                    label(class="col-lg-3 col-xs-4 col-sm-4 control-label") 发送邮件服务器
                                    .inforow(class="col-lg-3 col-xs-4 col-sm-4")
                                        input(type="text" name="email_server" class = "form-control" id = "email_server")
                            .row(class="col-xs-12 col-md-12")
                                .form-group
                                    label(class="col-lg-3 col-xs-4 col-sm-4 control-label") 邮件发送者帐户
                                    .inforow(class="col-lg-3 col-xs-4 col-sm-4")
                                        input(type="text" name="send_user" class = "form-control" id = "send_user")
                            .row(class="col-xs-12 col-md-12")
                                .form-group
                                    label(class="col-lg-3 col-xs-4 col-sm-4 control-label") 邮件发送者密码
                                    .inforow(class="col-lg-3 col-xs-4 col-sm-4")
                                        input(type="password" name="send_pwd" class = "form-control" id = "send_pwd")
                                    .widget-btn(class="col-lg-5 col-xs-3 col-sm-3 col-lg-offset-1 col-sm-offset-1 col-xs-1" style="height:auto;")
                                        a(class="btn btn-primary" href="javascript:testemail()") 测试邮箱
                            .row(class="col-xs-12 col-md-12")
                                .form-group
                                    label(class="col-lg-3 col-xs-4 col-sm-4 control-label") 接收者账户
                                    .inforow(class="col-lg-3 col-xs-4 col-sm-4")
                                        input(type="text" name="recv_user" class = "form-control" id = "recv_user")
                                    .widget-btn(class="col-lg-5 col-xs-3 col-sm-3 col-lg-offset-1 col-sm-offset-1 col-xs-1")
                                        a(class="btn btn-primary email-server-btn" href="javascript:modemailserver()") 保存
            .setting(class="col-xs-12 col-md-12")
                .widget(class="collapsed")
                    .widget-header
                        i(class="widget-icon fa fa-gear")
                        .widget-buttons(style="position:absolute;left:25px;")
                            a(href="#" data-toggle="collapse") 管理员设置
                    .widget-body
                        iframe(name="iframe" width="0" height="0" style="display:none;")
                        form(form id="addadmpic" method="post" action="/p/org/orgUpdateSettings" enctype="multipart/form-data" target="iframe")
                            .row(class="col-xs-12 col-md-12")
                                h5 管理员基本信息设置
                            .row(class="col-xs-12 col-md-12")
                                .form-group
                                    label(class="col-lg-3 col-xs-4 col-sm-4 control-label" for = "manager_name") 管理员姓名
                                    .inforow(class="col-lg-3 col-xs-4 col-sm-4")
                                        input(type="text" name="manager_name" class = "form-control" id = "manager_name") 
                                    label(class="col-lg-6 col-xs-4 col-sm-4 control-label")
                            .row(class="col-xs-12 col-md-12")
                                .form-group
                                    label(class="col-lg-3 col-xs-4 col-sm-4 control-label") 管理员头像
                                    .inforow(class="col-lg-3 col-xs-4 col-sm-4")
                                        .img(style="width:90px;height:90px;")
                                            input(name="sid" type="text" style="display:none;")
                                            input(type="file" id="admpicfile" name="avatar" class="file" size="10" style="width:90px;height:90px;opacity:0;")
                                            .img_adm(style="width:100px;height:100px;margin-top:-95px;margin-left:-5px;" class="avatar-area")
                                    .widget-btn(class="col-lg-5 col-xs-3 col-sm-3 col-lg-offset-1 col-sm-offset-1 col-xs-1")
                                        button(class="btn btn-primary" type="submit" style="width:78px;margin-top:68px;") 保存
                        .row(class="col-xs-12 col-md-12")
                            h5 密码修改
                        .row(class="col-xs-12 col-md-12")
                            .form-group
                                label(class="col-lg-3 col-xs-4 col-sm-4 control-label" for = "currentpw") 当前密码
                                .inforow(class="col-lg-3 col-xs-4 col-sm-4")
                                    input(type="password" name="currentpw" autocomplete="off" class = "form-control" id = "currentpw")
                                label(class="col-lg-6 col-xs-4 col-sm-4 control-label")
                        .row(class="col-xs-12 col-md-12")
                            .form-group
                                label(class="col-lg-3 col-xs-4 col-sm-4 control-label" for = "newpw") 新密码
                                .inforow(class="col-lg-3 col-xs-4 col-sm-4")
                                    input(type="password" name="newpw" autocomplete="off" class = "form-control" id = "newpw")
                                label(class="col-lg-6 col-xs-4 col-sm-4 control-label")
                        .row(class="col-xs-12 col-md-12")
                            .form-group
                                label(class="col-lg-3 col-xs-4 col-sm-4 control-label" for = "confirpw") 确认新密码
                                .inforow(class="col-lg-3 col-xs-4 col-sm-4")
                                    input(type="password" name="confirpw" autocomplete="off" class = "form-control" id = "confirpw") 
                                .widget-btn(class="col-lg-5 col-xs-3 col-sm-3 col-lg-offset-1 col-sm-offset-1 col-xs-1")
                                    a(class="btn btn-primary" href="javascript:set_updatePW()") 保存
            .setting(class="col-xs-12 col-md-12")
                .widget(class="collapsed")
                    .widget-header
                        i(class="widget-icon fa fa-gear")
                        .widget-buttons(style="position:absolute;left:25px;")
                            a(href="#" data-toggle="collapse") 认证方式设置
                    .widget-body
                        form(action='/man/setting/orgUpdateSettings')
                            .row(class="col-xs-12 col-md-12")
                                .form-group
                                    label(class="col-lg-3 col-xs-4 col-sm-4 control-label" for = "identify_method") 认证方式
                                    .inforow(class="col-lg-3 col-xs-4 col-sm-4")
                                        div(class="checkbox" style="margin-top:0px;")
                                            label(style="padding-left:0;")
                                                input(type="checkbox" onclick="selectcheckbox(this)" name="identify_method1")
                                                span(class="text" id="identify_method1") 用户名口令认证
                                        div(class="checkbox")
                                            label(style="padding-left:0;")
                                                input(type="checkbox" onclick="select2(this)" name="identify_method2")
                                                span(class="text" id="identify_method2") 用户名口令＋指纹认证
                                        div(class="checkbox")
                                            label(style="padding-left:0;")
                                                input(type="checkbox" onclick="select3(this)" name="identify_method3")
                                                span(class="text" id="identify_method3") 用户名口令＋本地指纹认证
                                    .widget-btn(class="col-lg-5 col-xs-3 col-sm-3 col-lg-offset-1 col-sm-offset-1 col-xs-1")
                                        a(class="btn btn-primary" href="javascript:identify_method()" style="margin-top:38px;") 保存
            .setting(class="col-xs-12 col-md-12")
                .widget(class="collapsed")
                    .widget-header
                        i(class="widget-icon fa fa-gear")
                        .widget-buttons(style="position:absolute;left:25px;")
                            a(href="#" data-toggle="collapse") 产品信息
                    .widget-body
                        iframe(name="ifme" width="0" height="0" style="display:none;")
                        form(id="addimg" method="post" action="/p/org/orgUpdateSettings" enctype="multipart/form-data" target="ifme")
                            .row(class="col-xs-12 col-md-12")
                                .form-group
                                    label(class="col-lg-3 col-xs-4 col-sm-4 control-label" for = "picturefile") 产品LOGO
                                    .inforow(class="col-lg-3 col-xs-4 col-sm-4")
                                        .img(style="width:177px;height:40px;")
                                            input(name="sid" type="text" style="display:none;")
                                            input(type="file" id="picturefile" name="icon" size="10" style="width:177px;height:40px;opacity:0;")
                                            .img_area(style="width:187px;height:50px;margin-top:-45px;margin-left:-5px;" class="avatar-area")
                                    label(class="col-lg-6 col-xs-4 col-sm-4 control-label")
                            .row(class="col-xs-12 col-md-12")
                                .form-group
                                    label(class="col-lg-3 col-xs-4 col-sm-4 control-label" for = "product_name") 产品名称
                                    .inforow(class="col-lg-3 col-xs-4 col-sm-4")
                                        input(type="text" name="product_name" class = "form-control" id = "product_name") 
                                    label(class="col-lg-6 col-xs-4 col-sm-4 control-label")
                            .row(class="col-xs-12 col-md-12")
                                .form-group
                                    label(class="col-lg-3 col-xs-4 col-sm-4 control-label" for = "company_name") 公司名称
                                    .inforow(class="col-lg-3 col-xs-4 col-sm-4")
                                        input(type="text" name="company_name" class = "form-control" id = "company_name") 
                                    label(class="col-lg-6 col-xs-4 col-sm-4 control-label")
                            .row(class="col-xs-12 col-md-12")
                                .form-group
                                    label(class="col-lg-3 col-xs-4 col-sm-4 control-label" for = "company_domain") 公司网址
                                    .inforow(class="col-lg-3 col-xs-4 col-sm-4")
                                        input(type="text" name="company_domain" class = "form-control" id = "company_domain") 
                                    .widget-btn(class="col-lg-5 col-xs-3 col-sm-3 col-lg-offset-1 col-sm-offset-1 col-xs-1")
                                        button(class="btn btn-primary" type="submit" style="width:78px;") 保存
            //-.setting(class="col-xs-12 col-md-12")
                .widget(class="collapsed")
                    .widget-header
                        i(class="widget-icon fa fa-gear")
                        .widget-buttons(style="position:absolute;left:25px;")
                            a(href="#" data-toggle="collapse")
                                服务器地址设置
                    .widget-body
                        .row(class="col-xs-12 col-md-12")
                            h5 服务器域名设置 
                        .row(class="col-xs-12 col-md-12")
                            .form-group
                                label(class="col-lg-3 col-xs-4 col-sm-4 control-label" for = "domain_name") 服务器域名
                                .inforow(class="col-lg-3 col-xs-4 col-sm-4")
                                    input(type="text" name="domain_name" class = "form-control" id = "domain_name")
                        .row(class="col-xs-12 col-md-12")
                            h5 消息服务地址设置 
                        .row(class="col-xs-12 col-md-12")
                            .form-group
                                label(class="col-lg-3 col-xs-4 col-sm-4 control-label" for = "send_url") 消息服务地址
                                .inforow(class="col-lg-3 col-xs-4 col-sm-4")
                                    input(type="text" name="send_url" class = "form-control" id = "send_url")
                                .widget-btn(class="col-lg-5 col-xs-3 col-sm-3 col-lg-offset-1 col-sm-offset-1 col-xs-1")
                                    a(class="btn btn-primary" href="javascript:save_url()") 保存 
        .bootbox(class="modal fade bootbox-confirm in modal-primary" tabindex="-1" role="dialog" style="display:none;" aria-hidden="false")
            .modal-dialog(style="width:500px;")
                .modal-content
        .background
    script(src="/assets/js/jquery-1.4.2.min.js")  
    script(src="/assets/js/colorpicker.js")
    script(async="true" src="/scripts/man_setting.js")
    script(type='text/javascript').
        $('#font_color').ColorPicker({
            onSubmit: function(hsb, hex, rgb, el) {
                $(el).val(hex);
                //$('#colorpicker_submit').parent().css({'display':'none'});
               // $(el).ColorPickerHide();
            }//,
            //onBeforeShow: function () {
           //     $(this).ColorPickerSetColor(this.value);
          //  }
        })
        $('#font_color').bind('keyup', function(){
            $(this).ColorPickerSetColor(this.value);
        });
