extends ../layout

block content
    .page-header(class="position-relative")
        .header-title(style="width:180px;")
            h1
                日志
                small
                    i(class="fa fa-angle-right")
                    a(href="#") 管理员日志
        //-.header-buttons
            a(class="sidebar-toggler" href="#")
                i(class="fa fa-arrows-h")
            a(class="refresh" id="refresh-toggler" href="/man/log")
                i(class="glyphicon glyphicon-refresh")
            a(class="fullscreen" id="fullscreen-toggler" href="#")
                i(class="glyphicon glyphicon-fullscreen")
    .page-body
        .row
            .loglist(class="col-xs-12 col-md-12")
                .widget
                    .search
                        table(class="table" style="border:none;")
                            tr
                                td
                                    .dt(style="min-width:400px;overflow:hidden;")
                                        label 操作时间： 
                                        input(id="datestart" type="text" placeholder="起始时间" name="start_time" readonly style="float:left;width:150px;cursor:pointer;" class="form-control")
                                        .div1(class="" style="width:20px;float:left;height:34px;")
                                        input(id="dateend" type="text" name="end_time" placeholder="结束时间" readonly style="float:left;width:150px;cursor:pointer;" class="form-control")
                                td
                                    .uname(style="min-width:200px;overflow:hidden;")
                                        label 登录名： 
                                        input(type="text" name="email"  style="float:left;width:140px;" class="form-control")
                                td
                                    .tp(style="min-width:150px;overflow:hidden;")
                                        label 操作标识： 
                                        select(style="float:left;width:80px;" class="form-control" name="operation")
                                            option(value="all") 全部
                                            option(value="安装") 安装
                                            option(value="访问") 访问
                                            option(value="认证") 认证
                                            option(value="卸载") 卸载
                                            option(value="更新") 更新
                                td
                                    a(class="btn btn-primary" href="javascript:searchlist()" style="width:78px;")
                                        i(class="fa fa-search")
                                        搜索
                                td
                                    a(class="btn btn-primary" href="javascript:impexcel()" style="width:78px;")
                                        i(class="fa fa-download")
                                        导出
                    .logtable(class="widget-body" style="box-shadow:none;padding:0;")
                    .page1
    script(src="/scripts/jquery.min.js")
    script(src="/scripts/jedate/jedate.js")
    script(src="/scripts/man_log.js")