extends ../personal
    
block right  
    .per.device
        table
    //-script(src="/scripts/jquery.min.js")
    script(src="/scripts/per_device.js")
    //-script(src="/scripts/jquery-1.8.3.min.js")
    //-script(src="http://cdn.hcharts.cn/highcharts/highcharts.js")
    //-script(src="http://cdn.hcharts.cn/highcharts/exporting.js")
    script(src="http://api.map.baidu.com/api?v=2.0&ak=eqqM74ODvE9SwBK58L940OHR")      